<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="isAdd ? '新增' : '编辑'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="100px">
      <el-form-item label="客服名称" prop="csName" >
        <el-input v-model="form.csName" style="width: 300px;"/>
      </el-form-item>
      <el-form-item label="IM密码" prop="imPassword" >
        <el-input v-model="form.imPassword" style="width: 300px;"/>
      </el-form-item>
      <el-form-item label="客服类型" prop="type" style="width: 300px;">
        <el-select v-model="form.type" clearable placeholder="客服类型" class="filter-item" style="width: 300px">
          <el-option v-for="item in types" :key="item.id" :label="item.name" :value="item.id"/>
        </el-select>
      </el-form-item>
      <el-form-item label="客服等级" prop="csType" style="width: 300px;">
        <el-select v-model="form.csType" clearable placeholder="客服等级" class="filter-item" style="width: 300px">
          <el-option v-for="item in csTypes" :key="item.id" :label="item.name" :value="item.id"/>
        </el-select>
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-radio-group v-model="form.status">
          <el-radio :label="0">正常</el-radio>
          <el-radio :label="1">失效</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="支付方式" prop="paymentMethods">
        <el-checkbox-group v-model="form.paymentMethods">
          <el-checkbox label="1">支付宝</el-checkbox>
          <el-checkbox label="2">微信</el-checkbox>
          <el-checkbox label="4">云闪付</el-checkbox>
          <el-checkbox label="8">银联</el-checkbox>
          <!--<el-checkbox v-for="item in pms" :label="item.id" :key="item.id">{{ item.name }}</el-checkbox>-->
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="聊天头像" >
        <el-upload
          :show-file-list="false"
          :headers="headers"
          :action="csAvatarApi"
          :on-success="handleAvatarSuccess"
          class="cs-avatar-uploader">
          <img v-if="form.avatarUrl" :src="form.avatarUrl" class="cs-avatar">
          <i v-else class="el-icon-plus cs-avatar-uploader-icon"/>
        </el-upload>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>
<style>
  .cs-avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .cs-avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .cs-avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 120px;
    height: 120px;
    line-height: 110px;
    text-align: center;
  }
  .cs-avatar {
    width: 120px;
    height: 120px;
    display: block;
  }
</style>
<script>
import { add, edit } from '@/api/cs'
import { mapGetters } from 'vuex'
import { getToken } from '@/utils/auth'
export default {
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false, dialog: false,
      orgs: [],
      csTypes: [{ id: 1, name: '普通客服' }, { id: 2, name: '客服主管' }],
      types: [{ id: 1, name: '推广客服' }, { id: 2, name: '游戏客服' }],
      headers: {
        'Authorization': 'Bearer ' + getToken()
      },
      avatarUrl: '',
      form: {
        id: '',
        csName: '',
        imAccount: '',
        imPassword: '',
        type: 1,
        orgId: 1,
        csType: 1,
        url: '',
        status: 1,
        supportedPms: 0,
        avatarUrl: '',
        paymentMethods: []
      },
      rules: {
        csName: [
          { required: true, message: '请输入客服名称', trigger: 'blur' }
        ],
        imPassword: [
          { required: true, message: '请输入IM密码', trigger: 'blur' }
        ],
        type: [
          { required: true, message: '请选择客服类型', trigger: 'blur' }
        ],
        status: [
          { required: true, message: '请选择客服状态', trigger: 'blur' }
        ],
        csType: [
          { required: true, message: '请选择客服等级', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'csAvatarApi'
    ])
  },
  methods: {
    handleAvatarSuccess(res, file) {
      // console.log(res.url)
      // this.avatarUrl = URL.createObjectURL(file.raw)
      this.form.avatarUrl = res.url // URL.createObjectURL(file.raw)
    },
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          if (this.isAdd) {
            this.doAdd()
          } else this.doEdit()
        }
      })
    },
    doAdd() {
      this.form.supportedPms = this.getPmsFlag(this.form.paymentMethods)
      add(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '添加成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    doEdit() {
      // console.log(this.getPmsFlag(this.form.paymentMethods))
      this.form.supportedPms = this.getPmsFlag(this.form.paymentMethods)
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '修改成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.avatarUrl = ''
      this.form = {
        id: '',
        csName: '',
        imAccount: '',
        imPassword: '',
        type: '',
        orgId: 1,
        csType: 1,
        url: '',
        status: 1,
        supportedPms: 0,
        paymentMethods: [],
        avatarUrl: ''
      }
    },
    getPmsFlag(paymentMethods) {
      let spms = 0
      paymentMethods.forEach(v => {
        spms = spms | parseInt(v)
      })
      return spms
    }
  }
}
</script>

<style scoped>

</style>
