<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <el-input v-model="query.csName" clearable placeholder="客服名称" style="width: 180px;" class="filter-item" @keyup.enter.native="toQuery"/>
      <el-input v-model="query.imAccount" clearable placeholder="IM账号" style="width: 180px;" class="filter-item" @keyup.enter.native="toQuery"/>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 新增 -->
      <div style="display: inline-block;margin: 0px 2px;">
        <el-button
          v-permission="['admin','cs:add']"
          class="filter-item"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="add">新增</el-button>
      </div>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="csName" label="客服名称"/>
      <el-table-column prop="imAccount" align="center" label="IM账号"/>
      <el-table-column prop="imPassword" align="center" label="IM密码"/>
      <el-table-column prop="orgName" align="center" label="归属银商"/>
      <el-table-column prop="type" align="center" label="客服类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 1" size="small" type="success">推广客服</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="danger">游戏客服</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="csType" align="center" label="银商联系人">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.csType === 1" size="small" type="success">普通客服</el-tag>
          <el-tag v-else-if="scope.row.csType === 2" size="small" type="info">客服主管</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="url" align="center" label="URL"/>
      <el-table-column ref="table" :show-overflow-tooltip="true" prop="url" label="聊天头像" align="center">
        <template slot-scope="scope">
          <a :href="scope.row.avatarUrl" style="color: #42b983" target="_blank"><img :src="scope.row.avatarUrl" alt="点击打开" class="el-avatar"></a>
        </template>
      </el-table-column>
      <el-table-column label="状态" align="center">
        <template slot-scope="scope">
          <el-tag :type="scope.row.status == 0 ? 'success' : 'warning'">{{ scope.row.status == 0 ? '正常' : '失效' }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" align="center" label="创建日期">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createName" align="center" label="创建人"/>
      <el-table-column v-if="checkPermission(['admin','cs:edit','cs:del'])" label="操作" width="150px" align="center">
        <template slot-scope="scope">
          <el-button v-permission="['admin','cs:edit']" size="mini" type="primary" icon="el-icon-edit" @click="edit(scope.row)"/>
          <el-popover
            v-permission="['admin','cs:del']"
            :ref="scope.row.id"
            placement="top"
            width="180">
            <p>确定删除本条数据吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="$refs[scope.row.id].doClose()">取消</el-button>
              <el-button :loading="delLoading" type="primary" size="mini" @click="subDelete(scope.row.id)">确定</el-button>
            </div>
            <el-button slot="reference" type="danger" icon="el-icon-delete" size="mini"/>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { del, download } from '@/api/cs'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      delLoading: false
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    downloadFile,
    checkPermission,
    beforeInit() {
      this.url = 'api/cs'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.orgId) {
        this.params['orgId'] = query.orgId
      }
      if (query.csName) {
        this.params['csName'] = query.csName
      }
      if (query.imAccount) {
        this.params['imAccount'] = query.imAccount
      }
      return true
    },
    subDelete(id) {
      this.delLoading = true
      del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    add() {
      this.isAdd = true
      this.$refs.form.dialog = true
    },
    edit(data) {
      // console.log('>>>>>>>>>>>>>>>>>>' + this.parsePms(data.supportedPms).join(','))
      const s = this.parsePms(data.supportedPms)
      this.isAdd = false
      const _this = this.$refs.form
      _this.form = {
        id: data.id,
        csName: data.csName,
        imAccount: data.imAccount,
        orgId: data.orgId,
        imPassword: data.imPassword,
        type: data.type,
        csType: data.csType,
        url: data.url,
        status: data.status,
        paymentMethods: s,
        avatarUrl: data.avatarUrl
      }
      _this.dialog = true
    },
    parsePms(pms) {
      const s = []
      if ((pms & 1) !== 0) {
        s.push('1')
      }
      if ((pms & 2) !== 0) {
        s.push('2')
      }
      if ((pms & 4) !== 0) {
        s.push('4')
      }
      if ((pms & 8) !== 0) {
        s.push('8')
      }
      return s
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      download(this.params).then(result => {
        downloadFile(result, '客服信息', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
