<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="isAdd ? '新增' : '编辑'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="银商编码" prop="orgId">
        <el-input v-model="form.orgId" disabled="false" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="银商名称" prop="orgName">
        <el-input v-model="form.orgName" disabled="false" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="类型" prop="type">
        <el-radio-group v-model="form.type">
          <el-radio :label="1">自有银商</el-radio>
          <el-radio :label="2">社会银商</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="图标URL" prop="iconUrl">
        <el-input v-model="form.iconUrl" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="联系人" prop="contact">
        <el-input v-model="form.contact" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="联系电话" prop="phoneNumber">
        <el-input v-model="form.phoneNumber" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="备注" prop="note">
        <el-input v-model="form.note" :rows="3" type="textarea" style="width: 370px;" placeholder="备   注" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { add, edit } from '@/api/imOrg'
export default {
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false, dialog: false,
      form: {
        orgId: 0,
        contact: '',
        createBy: '',
        createTime: '',
        iconUrl: '',
        id: 0,
        note: 0,
        orgName: 0,
        phoneNumber: 0,
        type: 1
      },
      rules: {
        type: [
          { required: true, message: '类型不能为空', trigger: 'blur' }
        ],
        contact: [
          { required: true, message: '联系人不能为空', trigger: 'blur' }
        ],
        iconUrl: [
          { required: true, message: 'URL不能为空', trigger: 'blur' }
        ],
        phoneNumber: [
          { required: true, message: '电话号码不能为空', trigger: 'blur' }
        ],
        note: [
          { required: true, message: '备注不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          if (this.isAdd) {
            this.doAdd()
          } else this.doEdit()
        }
      })
    },
    doAdd() {
      add(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '添加成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    doEdit() {
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '修改成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.form = {
        orgId: 0,
        contact: '',
        createBy: '',
        createTime: '',
        iconUrl: '',
        id: 0,
        note: 0,
        orgName: 0,
        phoneNumber: 0,
        type: 1
      }
    }
  }
}
</script>

<style scoped>

</style>
