<template>
  <div class="app-container">

    <div class="head-container">
      <el-input v-model="query.orgName" clearable placeholder="银商名称" style="width: 150px;" class="filter-item" />
      <el-date-picker
        v-model="query.date"
        type="daterange"
        range-separator=":"
        class="el-range-editor--small filter-item"
        style="height: 30.5px;width: 220px"
        value-format="yyyy-MM-dd HH:mm:ss"
        start-placeholder="开始日期"
        end-placeholder="结束日期"/>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="orgId" label="银商编码"/>
      <el-table-column prop="orgName" align="center" label="银商名称"/>
      <el-table-column prop="iconUrl" align="center" label="图标"/>
      <el-table-column prop="status" align="center" label="类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 1" size="small" type="success">自有银商</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="danger">社会银商</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="contact" align="center" label="联系人" />
      <el-table-column prop="phoneNumber" align="center" label="联系电话" />
      <el-table-column prop="enabled" align="center" label="状态" >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.enabled === true || scope.row.enabled === 'true'" size="small" type="success">正常</el-tag>
          <el-tag v-else-if="scope.row.enabled === false || scope.row.enabled === 'false'" size="small" type="danger">失效</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" align="center" label="创建日期">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createBy" align="center" label="创建人"/>
      <el-table-column prop="note" align="center" label="备注"/>
      <el-table-column v-if="checkPermission(['admin','cs:edit'])" label="操作" width="150px" align="center">
        <template slot-scope="scope">
          <el-button v-permission="['admin','cs:edit']" size="mini" type="primary" icon="el-icon-edit" @click="edit(scope.row)"/>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
// eslint-disable-next-line no-unused-vars
import { edit, downloadOrgInfo } from '@/api/imOrg'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      statuses: [
        { id: true, name: '正常' },
        { id: false, name: '失效' }
      ]
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/imOrg'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.orgName) {
        this.params['orgName'] = query.orgName
      }
      if (query.date) {
        this.params['startTime'] = query.date[0]
        this.params['endTime'] = query.date[1]
      }
      return true
    },
    edit(data) {
      this.isAdd = false
      const _this = this.$refs.form
      _this.form = {
        orgId: data.orgId,
        contact: data.contact,
        createBy: data.createBy,
        createTime: data.createTime,
        enabled: data.enabled,
        iconUrl: data.iconUrl,
        id: data.id,
        note: data.note,
        orgName: data.orgName,
        phoneNumber: data.phoneNumber,
        type: data.type === null || data.type === '' ? 1 : data.type
      }
      _this.dialog = true
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadOrgInfo(this.params).then(result => {
        downloadFile(result, '银商详情记录', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
