<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="'充值'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="归属银商" prop="orgId">
        <treeselect v-model="form.orgId" :options="orgs" style="width: 370px;" placeholder="选择归属银商" />
      </el-form-item>
      <el-form-item label="会计项目" prop="accountItem">
        <el-select v-model="form.accountItem" clearable placeholder="会计项目" class="filter-item" style="width: 130px">
          <el-option v-for="item in accountItems" :key="item.id" :label="item.name" :value="item.id"/>
        </el-select>
      </el-form-item>
      <el-form-item label="金额" prop="amount">
        <el-input v-model="form.amount" style="width: 370px;"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { recharge } from '@/api/orgAccount'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
export default {
  components: { Treeselect },
  data() {
    return {
      orgs: [],
      accountItems: [
        { id: 1, name: '充值' },
        { id: 2, name: '扣款' }
      ],
      loading: false, dialog: false,
      form: {
        orgId: null,
        accountItem: null,
        amount: ''
      },
      rules: {
        orgId: [
          { required: true, message: '归属银商不能为空', trigger: 'blur' }
        ],
        accountItem: [
          { required: true, message: '会计账目不能为空', trigger: 'blur' }
        ],
        amount: [
          { required: true, message: '金额不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          this.doAdd()
        }
      })
    },
    doAdd() {
      recharge(this.form).then(res => {
        this.resetForm()
        if (res.flag) {
          res['type'] = 'success'
        } else {
          res['type'] = 'error'
        }
        this.$notify({
          title: res.msg,
          type: res.type,
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.form = {
        orgId: null,
        accountItem: null,
        amount: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
