<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="isAdd ? '新增' : '编辑'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="归属银商" >
        <el-select v-model="form.orgId" clearable placeholder="归属银商" class="filter-item" style="width: 130px">
          <el-option v-for="item in orgs" :key="item.id" :label="item.name" :value="item.id"/>
        </el-select>
      </el-form-item>
      <el-form-item label="会计项目" >
        <el-select v-model="form.accountItem" clearable placeholder="会计项目" class="filter-item" style="width: 130px">
          <el-option v-for="item in accountItems" :key="item.id" :label="item.name" :value="item.id"/>
        </el-select>
      </el-form-item>
      <el-form-item label="状态">
        <el-radio-group v-model="form.status">
          <el-radio :label="1">成功</el-radio>
          <el-radio :label="0">失败</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="金额" >
        <el-input v-model="form.amount" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="变化前账户余额" >
        <el-input v-model="form.beforeBalance" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="变化后账户余额" >
        <el-input v-model="form.afterBalance" style="width: 370px;"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { add, edit } from '@/api/rechargeRecord'
export default {
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      orgs: [],
      accountItems: [
        { id: 1, name: '充值' },
        { id: 2, name: '扣款' }
      ],
      loading: false, dialog: false,
      form: {
        orgId: '',
        accountItem: '',
        status: '',
        amount: '',
        beforeBalance: '',
        afterBalance: ''
      },
      rules: {
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.loading = true
      if (this.isAdd) {
        this.doAdd()
      } else this.doEdit()
    },
    doAdd() {
      add(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '添加成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    doEdit() {
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '修改成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.form = {
        orgId: '',
        accountItem: '',
        status: '',
        amount: '',
        beforeBalance: '',
        afterBalance: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
