<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <el-select v-model="query.status" clearable placeholder="状态" class="filter-item" style="width: 130px">
        <el-option v-for="item in statuses" :key="item.id" :label="item.name" :value="item.id"/>
      </el-select>
      <el-date-picker
        v-model="query.date"
        type="daterange"
        range-separator=":"
        class="el-range-editor--small filter-item"
        style="height: 30.5px;width: 220px"
        value-format="yyyy-MM-dd"
        start-placeholder="开始日期"
        end-placeholder="结束日期"/>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" :summary-method="getSummaries" size="small" show-summary style="width: 100%;">
      <el-table-column prop="orgName" label="银商名称"/>
      <el-table-column prop="accountItem" align="center" label="会计项目">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.accountItem === 1" size="small" type="success">充值</el-tag>
          <el-tag v-else-if="scope.row.accountItem === 2" size="small" type="danger">扣款</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="status" align="center" label="状态信息">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small" type="success">成功</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="danger">失败</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="amount" align="center" label="金额"/>
      <el-table-column prop="beforeBalance" align="center" label="变化前账户余额"/>
      <el-table-column prop="afterBalance" align="center" label="变化后账户余额"/>
      <el-table-column prop="operateTime" align="center" label="操作时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.operateTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="operateUser" align="center" label="操作用户"/>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { downloadRechargeRecord } from '@/api/rechargeRecord'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      statuses: [
        { id: 1, name: '成功' },
        { id: 2, name: '失败' }
      ],
      delLoading: false
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/rechargeRecord'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.status) {
        this.params['status'] = query.status
      }
      if (query.date) {
        this.params['startTime'] = query.date[0]
        this.params['endTime'] = query.date[1]
      }
      return true
    },
    getSummaries(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '小计'
          return
        }
        if (index === 3 || index === 4 || index === 5) {
          const values = data.map(item => Number(item[column.property]))
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] += ' '
        } else {
          sums[index] = 'N/A'
        }
      })
      return sums
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadRechargeRecord(this.params).then(result => {
        downloadFile(result, '充值记录', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
