<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="'玩家上分'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="类型" prop="ascription">
            <el-select v-model="form.ascription" clearable placeholder="类型" class="filter-item" style="width: 130px">
              <el-option v-for="item in ascriptions" :key="item.id" :label="item.name" :value="item.id"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="会计项目" prop="accountItem">
            <el-select v-model="form.accountItem" clearable placeholder="类型" class="filter-item" style="width: 130px">
              <el-option v-for="item in accountItems" :key="item.id" :label="item.name" :value="item.id"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="用户渠道" prop="channelId">
            <el-select v-model="form.channelId" clearable placeholder="渠道" class="filter-item" style="width: 370px">
              <el-option v-for="item in channels" :key="item.channelId" :label="item.channelName" :value="item.channelId"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="用户ID" prop="userId">
            <el-input v-model="form.userId" style="width: 370px;"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="金额" prop="amount">
            <el-input v-model="form.amount" style="width: 370px;"/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>// eslint-disable-next-line no-unused-vars
import { addPoint, getConfig } from '@/api/orgAccount'
export default {
  data() {
    return {
      channels: [],
      ascriptions: [
        { id: 1, name: '棋牌' }
      ],
      accountItems: [
        { id: 1, name: '玩家上分' }
      ],
      loading: false, dialog: false,
      form: {
        channelId: '',
        userId: '',
        ascription: '',
        accountItem: '',
        amount: ''
      },
      rules: {
        channelId: [
          { required: true, message: '用户渠道不能为空', trigger: 'blur' }
        ],
        userId: [
          { required: true, message: '用户Id不能为空', trigger: 'blur' }
        ],
        ascription: [
          { required: true, message: '类型不能为空', trigger: 'blur' }
        ],
        accountItem: [
          { required: true, message: '会计账目不能为空', trigger: 'blur' }
        ],
        amount: [
          { required: true, message: '金额不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      console.log(this.form.channelId)
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          this.doAdd()
        }
      })
    },
    initData() {
      getConfig().then(res => {
        if (res != null) {
          console.log(res)
          this.channels = res
        }
      }).catch(err => {
        console.log(err.response.data.message)
      })
    },
    doAdd() {
      addPoint(this.form).then(res => {
        this.resetForm()
        if (res.flag) {
          res['type'] = 'success'
        } else {
          res['type'] = 'error'
        }
        this.$notify({
          title: res.msg,
          type: res.type,
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.channels = []
      this.$refs['form'].resetFields()
      this.form = {
        userId: '',
        ascription: '',
        channelId: '',
        accountItem: '',
        amount: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
