<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <!-- 搜索 -->
      <el-input v-model="query.orgName" clearable placeholder="银商名称" style="width: 250px;" class="filter-item" />
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 上分 -->
      <div style="display: inline-block;margin: 0px 2px;">
        <el-button
          v-permission="['admin','orgAccount:addPoint']"
          class="filter-item"
          size="mini"
          type="primary"
          icon="el-icon-user"
          @click="addPoint">玩家上分</el-button>
      </div>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eAddPointForm ref="addPointForm"/>
    <eRecharge ref="rechargeForm"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :tree-props="{children: 'children', hasChildren: 'hasChildren'}" :default-expand-all="true" :data="data" row-key="id" size="small" style="width: 100%;">
      <el-table-column prop="orgName" label="银商名称"/>
      <el-table-column prop="blance" align="center" label="账户余额"/>
      <el-table-column prop="totalRecharge" align="center" label="总充值"/>
      <el-table-column prop="totalRechargeNum" align="center" label="总充值次数"/>
      <el-table-column prop="totalAddpoints" align="center" label="总上分金额"/>
      <el-table-column prop="totalAddpointsNum" align="center" label="总上分次数"/>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { downloadTraderOrgAccount } from '@/api/orgAccount'
import { downloadFile } from '@/utils/index'
import { getOrgs } from '@/api/org'
import eAddPointForm from './addPoint'
import eRecharge from './recharge'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
export default {
  components: { Treeselect, eAddPointForm, eRecharge },
  mixins: [initData],
  data() {
    return {
      delLoading: false
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
    getOrgs({ enabled: 1 }).then(res => {
      this.$refs.rechargeForm.orgs = res.content
    })
  },
  methods: {
    checkPermission,
    beforeInit() {
      this.url = 'api/orgAccount'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.orgName) {
        this.params['orgName'] = query.orgName
      }
      return true
    },
    addPoint() {
      this.$refs.addPointForm.dialog = true
      this.$refs.addPointForm.initData()
    },
    recharge() {
      this.$refs.rechargeForm.dialog = true
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadTraderOrgAccount(this.params).then(result => {
        downloadFile(result, '银商账户', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
