<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" title="配置权限信息" width="700px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="归属银商" prop="orgId">
        <treeselect v-model="form.orgId" :options="orgs" style="width: 370px;" placeholder="选择归属银商" @select="selectOrgs"/>
      </el-form-item>
      <el-form-item label="归属渠道" prop="channelId">
        <el-transfer v-model="form.channelId" :data="dataForm.channelList" :titles="['待选渠道', '已选渠道']" size="small"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>// eslint-disable-next-line no-unused-vars
import { doConfig, getAllConfig } from '@/api/orgChannel'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
export default {
  components: { Treeselect },
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false, dialog: false,
      isDisabled: false,
      orgs: [],
      dataForm: {
        channelList: []
      },
      form: {
        orgId: null,
        channelId: []
      },
      rules: {
        orgId: [
          { required: true, message: '归属银商不能为空', trigger: 'blur' }
        ],
        channelId: [
          { required: true, message: '授权渠道不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    selectOrgs(val) {
      getAllConfig(val.id).then(res => {
        if (res != null) {
          this.dataForm.channelList = res.all
          this.form.channelId = res.select
          console.log('全部渠道' + this.dataForm.channelList.length)
          console.log('选中渠道' + this.form.channelId.length)
        }
      }).catch(err => {
        console.log(err.response.data.message)
      })
    },
    doSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          this.doConfig()
        }
      })
    },
    doConfig() {
      console.log(this.form.channelId)
      console.log(this.form.orgId)
      doConfig(this.form).then(res => {
        if (res === false) {
          this.$notify({
            title: '配置失败',
            type: 'error',
            duration: 2500
          })
          this.loading = false
        } else {
          this.resetForm()
          this.$notify({
            title: '配置成功',
            type: 'success',
            duration: 2500
          })
          this.loading = false
          this.$parent.init()
        }
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.form = {
        channelId: [],
        orgId: null
      }
      this.dataForm = {
        channelList: []
      }
    }
  }
}
</script>

<style scoped>

</style>
