<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <el-input v-model="query.orgName" clearable placeholder="银商名称" style="width: 150px;" class="filter-item" />
      <el-input v-model="query.channelId" clearable placeholder="渠道编码" style="width: 150px;" class="filter-item" />
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 新增 -->
      <div style="display: inline-block;margin: 0px 2px;">
        <el-button
          v-permission="['admin','orgchl:config']"
          class="filter-item"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="doCofig">配置</el-button>
      </div>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="orgId" label="银商编码"/>
      <el-table-column prop="orgName" align="center" label="银商名称"/>
      <el-table-column prop="channelId" align="center" label="渠道编码"/>
      <el-table-column prop="channelName" align="center" label="渠道名称"/>
      <el-table-column prop="iconUrl" align="center" label="渠道图标"/>
      <el-table-column prop="type" align="center" label="渠道类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 1" size="small" type="success">自有渠道</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="danger">社会渠道</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="status" align="center" label="渠道状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small" type="success">正常</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="danger">失效</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="authCode" align="center" label="秘钥" />
      <el-table-column prop="salt" align="center" label="加密" />
      <el-table-column prop="note" align="center" label="渠道备注"/>
      <el-table-column v-if="checkPermission(['admin','orgchl:del'])" label="操作" width="120px" align="center">
        <template slot-scope="scope">
          <el-popover
            v-permission="['admin','orgchl:del']"
            :ref="scope.row.id"
            placement="top"
            width="180">
            <p>确定删除本条数据吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="$refs[scope.row.id].doClose()">取消</el-button>
              <el-button :loading="delLoading" type="primary" size="mini" @click="doDelete(scope.row.id)">确定</el-button>
            </div>
            <el-button slot="reference" type="danger" icon="el-icon-delete" size="mini"/>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { getOrgs } from '@/api/org'
import { downloadOrgChannelInfo, del } from '@/api/orgChannel'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      delLoading: false,
      refreshLoading: false
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
    getOrgs({ enabled: 1 }).then(res => {
      this.$refs.form.orgs = res.content
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/orgchannel'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.channelId) {
        this.params['channelId'] = query.channelId
      }
      if (query.orgName) {
        this.params['orgName'] = query.orgName
      }
      return true
    },
    doCofig() {
      const _this = this.$refs.form
      _this.resetForm()
      _this.isDisabled = false
      _this.dialog = true
    },
    doDelete(id) {
      this.delLoading = true
      del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadOrgChannelInfo(this.params).then(result => {
        downloadFile(result, '银商授权渠道信息报表', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
