<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="isAdd ? '新增' : '编辑'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="平台用户ID, 如果用户不是从平台过来默认给一个" >
        <el-input v-model="form.accountId" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="是否在线 0,未知 1,上线 2,离线" >
        <el-input v-model="form.isOnline" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="用户类型  1，普通用户  2， 客服" >
        <el-input v-model="form.userType" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="用户名称" >
        <el-input v-model="form.userName" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="密码" >
        <el-input v-model="form.password" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="用户昵称" >
        <el-input v-model="form.nickName" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="性别  0, 男  1,女  2,未知" >
        <el-input v-model="form.sex" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="状态  0,正常  1,失效  2, 冻结" >
        <el-input v-model="form.status" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="个性签名" >
        <el-input v-model="form.sign" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="手机号码" >
        <el-input v-model="form.phone" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="地址" >
        <el-input v-model="form.address" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="邮箱" >
        <el-input v-model="form.email" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="生日" >
        <el-input v-model="form.birthDay" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="身份证号码" >
        <el-input v-model="form.cardNumber" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="毕业院校" >
        <el-input v-model="form.school" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="学历  0，初中 1，高中  2，大专 3，本科  4，研究生  5，博士  6，博士后" >
        <el-input v-model="form.education" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="头像" >
        <el-input v-model="form.userAvatar" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="创建时间" >
        <el-date-picker v-model="form.createTime" type="datetime" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="创建人" >
        <el-input v-model="form.createBy" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="修改时间" >
        <el-date-picker v-model="form.modifyTime" type="datetime" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="修改人" >
        <el-input v-model="form.modifyBy" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="备注" >
        <el-input v-model="form.note" style="width: 370px;"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { add, edit } from '@/api/imUserInfo'
export default {
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false, dialog: false,
      form: {
        id: '',
        accountId: '',
        isOnline: '',
        userType: '',
        userName: '',
        password: '',
        nickName: '',
        sex: '',
        status: '',
        sign: '',
        phone: '',
        address: '',
        email: '',
        birthDay: '',
        cardNumber: '',
        school: '',
        education: '',
        userAvatar: '',
        createTime: '',
        createBy: '',
        modifyTime: '',
        modifyBy: '',
        note: ''
      },
      rules: {
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.loading = true
      if (this.isAdd) {
        this.doAdd()
      } else this.doEdit()
    },
    doAdd() {
      add(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '添加成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    doEdit() {
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '修改成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.form = {
        id: '',
        accountId: '',
        isOnline: '',
        userType: '',
        userName: '',
        password: '',
        nickName: '',
        sex: '',
        status: '',
        sign: '',
        phone: '',
        address: '',
        email: '',
        birthDay: '',
        cardNumber: '',
        school: '',
        education: '',
        userAvatar: '',
        createTime: '',
        createBy: '',
        modifyTime: '',
        modifyBy: '',
        note: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
