<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <!-- 搜索 -->
      <el-input v-model="query.value" clearable placeholder="输入搜索内容" style="width: 200px;" class="filter-item" @keyup.enter.native="toQuery"/>
      <el-select v-model="query.type" clearable placeholder="类型" class="filter-item" style="width: 130px">
        <el-option v-for="item in queryTypeOptions" :key="item.key" :label="item.display_name" :value="item.key"/>
      </el-select>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 新增 -->
      <div style="display: inline-block;margin: 0px 2px;">
        <el-button
          v-permission="['admin','imUserInfo:add']"
          class="filter-item"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="add">新增</el-button>
      </div>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="id" label="主键"/>
      <el-table-column prop="accountId" label="平台用户ID, 如果用户不是从平台过来默认给一个"/>
      <el-table-column prop="isOnline" label="是否在线 0,未知 1,上线 2,离线"/>
      <el-table-column prop="userType" label="用户类型  1，普通用户  2， 客服"/>
      <el-table-column prop="userName" label="用户名称"/>
      <el-table-column prop="password" label="密码"/>
      <el-table-column prop="nickName" label="用户昵称"/>
      <el-table-column prop="sex" label="性别  0, 男  1,女  2,未知"/>
      <el-table-column prop="status" label="状态  0,正常  1,失效  2, 冻结"/>
      <el-table-column prop="sign" label="个性签名"/>
      <el-table-column prop="phone" label="手机号码"/>
      <el-table-column prop="address" label="地址"/>
      <el-table-column prop="email" label="邮箱"/>
      <el-table-column prop="birthDay" label="生日"/>
      <el-table-column prop="cardNumber" label="身份证号码"/>
      <el-table-column prop="school" label="毕业院校"/>
      <el-table-column prop="education" label="学历  0，初中 1，高中  2，大专 3，本科  4，研究生  5，博士  6，博士后"/>
      <el-table-column prop="userAvatar" label="头像"/>
      <el-table-column prop="createTime" label="创建时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createBy" label="创建人"/>
      <el-table-column prop="modifyTime" label="修改时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.modifyTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="modifyBy" label="修改人"/>
      <el-table-column prop="note" label="备注"/>
      <el-table-column v-if="checkPermission(['admin','imUserInfo:edit','imUserInfo:del'])" label="操作" width="150px" align="center">
        <template slot-scope="scope">
          <el-button v-permission="['admin','imUserInfo:edit']" size="mini" type="primary" icon="el-icon-edit" @click="edit(scope.row)"/>
          <el-popover
            v-permission="['admin','imUserInfo:del']"
            :ref="scope.row.id"
            placement="top"
            width="180">
            <p>确定删除本条数据吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="$refs[scope.row.id].doClose()">取消</el-button>
              <el-button :loading="delLoading" type="primary" size="mini" @click="subDelete(scope.row.id)">确定</el-button>
            </div>
            <el-button slot="reference" type="danger" icon="el-icon-delete" size="mini"/>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { del, downloadImUserInfo } from '@/api/imUserInfo'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      delLoading: false,
      queryTypeOptions: [
        { key: 'nickName', display_name: '用户昵称' }
      ]
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/imUserInfo'
      const sort = 'id,desc'
      this.params = { page: this.page, size: this.size, sort: sort }
      const query = this.query
      const type = query.type
      const value = query.value
      if (type && value) { this.params[type] = value }
      return true
    },
    subDelete(id) {
      this.delLoading = true
      del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    add() {
      this.isAdd = true
      this.$refs.form.dialog = true
    },
    edit(data) {
      this.isAdd = false
      const _this = this.$refs.form
      _this.form = {
        id: data.id,
        accountId: data.accountId,
        isOnline: data.isOnline,
        userType: data.userType,
        userName: data.userName,
        password: data.password,
        nickName: data.nickName,
        sex: data.sex,
        status: data.status,
        sign: data.sign,
        phone: data.phone,
        address: data.address,
        email: data.email,
        birthDay: data.birthDay,
        cardNumber: data.cardNumber,
        school: data.school,
        education: data.education,
        userAvatar: data.userAvatar,
        createTime: data.createTime,
        createBy: data.createBy,
        modifyTime: data.modifyTime,
        modifyBy: data.modifyBy,
        note: data.note
      }
      _this.dialog = true
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadImUserInfo(this.params).then(result => {
        downloadFile(result, 'ImUserInfo列表', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
