<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="isAdd ? '新增' : '编辑'" width="590px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="120px">
      <el-form-item label="类型:" prop="type">
        <el-radio-group v-model="form.type" size="mini" style="width: 450px;">
          <el-radio-button :label="1">微信扫码</el-radio-button>
          <el-radio-button :label="4">微信转账</el-radio-button>
          <el-radio-button :label="2">支付宝扫码</el-radio-button>
          <el-radio-button :label="5">支付宝转账</el-radio-button>
          <el-radio-button :label="3">银行卡</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <template v-if="form.type === 1">
        <el-form-item label="微信账号:" prop="wxAccount">
          <el-input v-model="form.wxAccount" style="width: 408px;" placeholder="微信账号" />
        </el-form-item>
        <el-form-item label="微信昵称:" prop="wxNickName">
          <el-input v-model="form.wxNickName" style="width: 408px;" placeholder="微信昵称" />
        </el-form-item>
        <el-form-item label="收款二维码:" prop="wxCodeUrl">
          <el-input v-model="form.wxCodeUrl" style="width: 408px;" placeholder="微信二维码"/>
        </el-form-item>
      </template>
      <template v-else-if="form.type === 2">
        <el-form-item label="支付宝账号:" prop="aliPayAccount">
          <el-input v-model="form.aliPayAccount" style="width: 408px;" placeholder="支付宝账号" />
        </el-form-item>
        <el-form-item label="支付宝昵称:" prop="aliPayNickName">
          <el-input v-model="form.aliPayNickName" style="width: 408px;" placeholder="支付宝昵称" />
        </el-form-item>
        <el-form-item label="收款二维码:" prop="aliPayCodeUrl">
          <el-input v-model="form.aliPayCodeUrl" style="width: 408px;" placeholder="收款二维码"/>
        </el-form-item>
      </template>
      <template v-else-if="form.type === 3 || form.type === 4 || form.type === 5">
        <el-form-item label="银行账号:" prop="bankAccount">
          <el-input v-model="form.bankAccount" style="width: 408px;" placeholder="银行账号" />
        </el-form-item>
        <el-form-item label="收款人:" prop="bankPayee">
          <el-input v-model="form.bankPayee" style="width: 408px;" placeholder="收款人" />
        </el-form-item>
        <el-form-item label="归属银行:" prop="ascriptionBank">
          <el-input v-model="form.ascriptionBank" style="width: 408px;" placeholder="归属银行"/>
        </el-form-item>
        <el-form-item label="开户银行:" prop="openAccountBank">
          <el-input v-model="form.openAccountBank" style="width: 408px;" placeholder="开户银行" />
        </el-form-item>
      </template>
      <el-form-item label="备   注:" prop="note">
        <el-input v-model="form.note" :rows="3" type="textarea" style="width: 408px;" placeholder="备   注"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { add, edit } from '@/api/replyConfig'
export default {
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false, dialog: false,
      form: {
        id: '',
        type: 1,
        orgId: '',
        config: '',
        createTime: '',
        createBy: '',
        modifyTime: '',
        modifyBy: '',
        wxAccount: '',
        wxNickName: '',
        wxCodeUrl: '',
        aliPayAccount: '',
        aliPayNickName: '',
        aliPayCodeUrl: '',
        bankAccount: '',
        bankPayee: '',
        ascriptionBank: '',
        openAccountBank: '',
        note: ''
      },
      rules: {
        wxAccount: [
          { required: true, message: '请输入微信账号', trigger: 'blur' }
        ],
        wxNickName: [
          { required: true, message: '请输入微信昵称', trigger: 'blur' }
        ],
        wxCodeUrl: [
          { required: true, message: '请输入微信二维码URL', trigger: 'blur' }
        ],
        aliPayAccount: [
          { required: true, message: '请输入支付宝账号', trigger: 'blur' }
        ],
        aliPayNickName: [
          { required: true, message: '请输入支付宝昵称', trigger: 'blur' }
        ],
        aliPayCodeUrl: [
          { required: true, message: '请输入支付宝二维码URL', trigger: 'blur' }
        ],
        bankAccount: [
          { required: true, message: '请输入银行账号', trigger: 'blur' }
        ],
        bankPayee: [
          { required: true, message: '请输入收款人姓名', trigger: 'blur' }
        ],
        ascriptionBank: [
          { required: true, message: '请输入归属银行', trigger: 'blur' }
        ],
        openAccountBank: [
          { required: true, message: '请输入开户行', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      if (this.isAdd) {
        this.doAdd()
      } else this.doEdit()
    },
    doAdd() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          add(this.form).then(res => {
            this.resetForm()
            this.$notify({
              title: '添加成功',
              type: 'success',
              duration: 2500
            })
            this.loading = false
            this.$parent.init()
          }).catch(err => {
            this.loading = false
            console.log(err.response.data.message)
          })
        }
      })
    },
    doEdit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          edit(this.form).then(res => {
            this.resetForm()
            this.$notify({
              title: '修改成功',
              type: 'success',
              duration: 2500
            })
            this.loading = false
            this.$parent.init()
          }).catch(err => {
            this.loading = false
            console.log(err.response.data.message)
          })
        }
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.form = {
        id: '',
        type: 1,
        orgId: '',
        config: '',
        createTime: '',
        createBy: '',
        modifyTime: '',
        modifyBy: '',
        wxAccount: '',
        wxNickName: '',
        wxCodeUrl: '',
        aliPayAccount: '',
        aliPayNickName: '',
        aliPayCodeUrl: '',
        bankAccount: '',
        bankPayee: '',
        ascriptionBank: '',
        openAccountBank: '',
        note: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
