<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <el-input v-model="query.note" clearable placeholder="备注" style="width: 180px;" class="filter-item" />
      <el-select v-model="query.type" clearable placeholder="类型" class="filter-item" style="width: 130px">
        <el-option v-for="item in statusOptions" :key="item.key" :label="item.display_name" :value="item.key"/>
      </el-select>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 新增 -->
      <div style="display: inline-block;margin: 0px 2px;">
        <el-button
          v-permission="['admin','replyConfig:add']"
          class="filter-item"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="add">新增</el-button>
      </div>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="note" label="备注"/>
      <el-table-column prop="type" label="类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 1" size="small" type="success">微信扫码</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="danger">支付宝扫码</el-tag>
          <el-tag v-else-if="scope.row.type === 3" size="small" type="warning">银行卡</el-tag>
          <el-tag v-else-if="scope.row.type === 4" size="small" type="success">微信转账</el-tag>
          <el-tag v-else-if="scope.row.type === 5" size="small" type="danger">支付宝转账</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="orgName" label="归属组织"/>
      <el-table-column prop="config" label="内容配置"/>
      <el-table-column prop="createTime" label="创建时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createName" label="创建人"/>
      <el-table-column prop="modifyTime" label="修改时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.modifyTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="modifyName" label="修改人"/>
      <el-table-column v-if="checkPermission(['admin','replyConfig:edit','replyConfig:del'])" label="操作" width="150px" align="center">
        <template slot-scope="scope">
          <el-button v-permission="['admin','replyConfig:edit']" size="mini" type="primary" icon="el-icon-edit" @click="edit(scope.row)"/>
          <el-popover
            v-permission="['admin','replyConfig:del']"
            :ref="scope.row.id"
            placement="top"
            width="180">
            <p>确定删除本条数据吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="$refs[scope.row.id].doClose()">取消</el-button>
              <el-button :loading="delLoading" type="primary" size="mini" @click="subDelete(scope.row.id)">确定</el-button>
            </div>
            <el-button slot="reference" type="danger" icon="el-icon-delete" size="mini"/>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { del, downloadReplyConfig } from '@/api/replyConfig'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      delLoading: false,
      statusOptions: [
        { key: 1, display_name: '微信扫码' },
        { key: 2, display_name: '支付宝扫码' },
        { key: 3, display_name: '银行卡' },
        { key: 4, display_name: '微信转账' },
        { key: 5, display_name: '支付宝转账' }
      ]
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/replyConfig'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.orgId) {
        this.params['orgId'] = query.orgId
      }
      if (query.note) {
        this.params['note'] = query.note
      }
      if (query.type) {
        this.params['type'] = query.type
      }
      return true
    },
    subDelete(id) {
      this.delLoading = true
      del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    add() {
      this.isAdd = true
      this.$refs.form.dialog = true
    },
    edit(data) {
      this.isAdd = false
      const _this = this.$refs.form
      const _config = JSON.parse(data.config)
      _this.form = {
        id: data.id,
        type: data.type,
        orgId: data.orgId,
        config: data.config,
        createTime: data.createTime,
        createBy: data.createBy,
        modifyTime: data.modifyTime,
        modifyBy: data.modifyBy,
        wxAccount: _config.wxAccount,
        wxNickName: _config.wxNickName,
        wxCodeUrl: _config.wxCodeUrl,
        aliPayAccount: _config.aliPayAccount,
        aliPayNickName: _config.aliPayNickName,
        aliPayCodeUrl: _config.aliPayCodeUrl,
        bankAccount: _config.bankAccount,
        bankPayee: _config.bankPayee,
        ascriptionBank: _config.ascriptionBank,
        openAccountBank: _config.openAccountBank,
        note: data.note
      }
      _this.dialog = true
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadReplyConfig(this.params).then(result => {
        downloadFile(result, '支付配置列表', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
