<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="isAdd ? '新增' : '编辑'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="渠道编码" prop="channelId">
        <el-input v-model="form.channelId" :disabled="isDisabled" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="渠道名称" prop="channelName">
        <el-input v-model="form.channelName" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="类型" prop="type">
        <el-radio-group v-model="form.type">
          <el-radio :label="1">自有渠道</el-radio>
          <el-radio :label="2">社会渠道</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="图标URL" prop="iconUrl">
        <el-input v-model="form.iconUrl" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-radio-group v-model="form.status">
          <el-radio :label="1">正常</el-radio>
          <el-radio :label="2">失效</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="备注" prop="note">
        <el-input v-model="form.note" :rows="3" type="textarea" style="width: 370px;" placeholder="备   注" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { add, edit } from '@/api/channel'
export default {
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false, dialog: false,
      isDisabled: false,
      form: {
        channelId: '',
        channelName: '',
        type: 1,
        status: 1,
        iconUrl: '',
        id: 0,
        note: '',
        authCode: '',
        salt: '',
        updateTime: '',
        updateBy: '',
        createTime: '',
        createBy: ''
      },
      rules: {
        type: [
          { required: true, message: '类型不能为空', trigger: 'blur' }
        ],
        channelId: [
          { required: true, message: '渠道编码不能为空', trigger: 'blur' }
        ],
        channelName: [
          { required: true, message: '渠道名称不能为空', trigger: 'blur' }
        ],
        status: [
          { required: true, message: '状态不能为空', trigger: 'blur' }
        ],
        iconUrl: [
          { required: true, message: '图标URL不能为空', trigger: 'blur' }
        ],
        note: [
          { required: true, message: '备注不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          if (this.isAdd) {
            this.doAdd()
          } else this.doEdit()
        }
      })
    },
    doAdd() {
      add(this.form).then(res => {
        if (res === false) {
          this.$notify({
            title: '渠道编码重复',
            type: 'error',
            duration: 2500
          })
          this.loading = false
        } else {
          this.resetForm()
          this.$notify({
            title: '添加成功',
            type: 'success',
            duration: 2500
          })
          this.loading = false
          this.$parent.init()
        }
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    doEdit() {
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '修改成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.form = {
        channelId: '',
        channelName: '',
        type: 1,
        status: 1,
        iconUrl: '',
        id: 0,
        note: '',
        authCode: '',
        salt: '',
        updateTime: '',
        updateBy: '',
        createTime: '',
        createBy: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
