<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <el-input v-model="query.channelId" clearable placeholder="渠道编码" style="width: 150px;" class="filter-item" />
      <el-input v-model="query.channelName" clearable placeholder="渠道名称" style="width: 150px;" class="filter-item" />
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 新增 -->
      <div style="display: inline-block;margin: 0px 2px;">
        <el-button
          v-permission="['admin','channel:add']"
          class="filter-item"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="add">新增</el-button>
      </div>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="channelId" label="渠道编码"/>
      <el-table-column prop="channelName" align="center" label="渠道名称"/>
      <el-table-column prop="iconUrl" align="center" label="图标"/>
      <el-table-column prop="type" align="center" label="类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 1" size="small" type="success">自有渠道</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="danger">社会渠道</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="status" align="center" label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small" type="success">正常</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="danger">失效</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="authCode" align="authCode" label="秘钥" />
      <el-table-column prop="salt" align="salt" label="加密" />

      <el-table-column prop="createTime" align="center" label="创建日期">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createBy" align="center" label="创建人"/>
      <el-table-column prop="createTime" align="center" label="更新日期">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.updateTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="updateBy" align="center" label="更新人"/>
      <el-table-column prop="note" align="center" label="备注"/>
      <el-table-column v-if="checkPermission(['admin','channel:edit'])" label="操作" width="220px" align="center">
        <template slot-scope="scope">
          <el-button v-permission="['admin','channel:refresh']" :loading="refreshLoading" size="mini" type="primary" icon="el-icon-refresh" @click="refresh(scope.row)"/>
          <el-button v-permission="['admin','channel:edit']" size="mini" type="primary" icon="el-icon-edit" @click="edit(scope.row)"/>
          <el-popover
            v-permission="['admin','channel:del']"
            :ref="scope.row.id"
            placement="top"
            width="180">
            <p>确定删除本条数据吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="$refs[scope.row.id].doClose()">取消</el-button>
              <el-button :loading="delLoading" type="primary" size="mini" @click="doDelete(scope.row.id)">确定</el-button>
            </div>
            <el-button slot="reference" type="danger" icon="el-icon-delete" size="mini"/>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { del, refresh, downloadChannelInfo } from '@/api/channel'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      delLoading: false,
      refreshLoading: false
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/imChannel'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.channelId) {
        this.params['channelId'] = query.channelId
      }
      if (query.channelName) {
        this.params['channelName'] = query.channelName
      }
      return true
    },
    add() {
      const _this = this.$refs.form
      _this.resetForm()
      _this.isDisabled = false
      console.log(_this.isDisabled)
      _this.isAdd = true
      _this.dialog = true
    },
    edit(data) {
      const _this = this.$refs.form
      _this.isDisabled = true
      _this.isAdd = false
      console.log(_this.isDisabled)
      _this.form = {
        channelId: data.channelId,
        channelName: data.channelName,
        type: data.type,
        status: data.status,
        iconUrl: data.iconUrl,
        id: data.id,
        note: data.note,
        authCode: data.authCode,
        orgName: data.orgName,
        salt: data.salt,
        updateTime: data.updateTime,
        updateBy: data.updateBy,
        createTime: data.createTime,
        createBy: data.createBy
      }
      _this.dialog = true
    },
    refresh(data) {
      this.$confirm(`确定对[` + data.channelName + `]进行重置秘钥操作?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.refreshLoading = true
        refresh(data.id).then(res => {
          this.refreshLoading = false
          this.dleChangePage()
          this.init()
          this.$notify({
            title: '重置秘钥成功',
            type: 'success',
            duration: 2500
          })
        }).catch(err => {
          this.refreshLoading = false
          console.log(err.response.data.message)
        })
      }).catch(() => {})
    },
    doDelete(id) {
      this.delLoading = true
      del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadChannelInfo(this.params).then(result => {
        downloadFile(result, '统计报表', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
