<template>
  <div style="position: fixed; user-select:none;z-index:1">

    <div v-show="isMove" class="im-move"/>
    <audio ref="playAudio" :src="currentSong"/>
    <div ref="imBox" :class="isShow ? 'im-box-show' : ''" :style="imBoxStyle" class="im-box">
      <div class="im-box-move" @mousedown="moveImBox"/>
      <div v-if="confirm.isShow" class="im-box-confirm-box">
        <div class="im-box-confirm">
          <div class="im-box-confirm-header">
            <div class="im-box-confirm-title">{{ confirm.title }}</div>
          </div>
          <div class="im-box-confirm-content">
            <div class="im-box-confirm-message">{{ confirm.message }}</div>
          </div>
          <div class="im-box-confirm-buttons">
            <div class="im-box-confirm-button im-box-confirm-cancel" @click="confirm.cancelHandle()">
              {{ confirm.cancelName }}
            </div>
            <div class="im-box-confirm-button im-box-confirm-ok" @click="confirm.okHandle()">{{ confirm.okName }}</div>
          </div>
        </div>
      </div>
      <div v-if="!isLogin" class="user-login-box">
        <div class="user-login-list">
          <h3 class="login-title">IM登录</h3>
          <el-form :model="loginForm">
            <el-form-item prop="orgId">
              <el-input v-model="loginForm.orgId" size="small" placeholder="银商编码"/>
            </el-form-item>
            <el-form-item prop="userAccount">
              <el-input v-model="loginForm.userAccount" size="small" placeholder="帐号"/>
            </el-form-item>
            <el-form-item prop="userPassword">
              <el-input v-model="loginForm.userPassword" size="small" type="password" placeholder="密码"/>
            </el-form-item>
            <el-form-item>
              <el-button :loading="btnLoading" size="mini" style="" type="primary" @click="doLogin()">登录</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <header class="im-panel-header">
        <div class="im-header-user">
          <img :src="userData.avatar" class="im-header-user-avatar" alt="头像">
          <div class="im-header-user-content">
            <div :title="userData.nickName" class="im-header-user-name">
              {{ userData.nickName }}
            </div>
            <div :title="userData.remark" class="im-header-user-remark">
              {{ userData.remark }}
            </div>
          </div>
        </div>
        <div class="im-header-setwin">
          <div class="im-header-out-login" title="登出" @click="userOutClick">
            <img src="./image/out-login.png" alt="登出" style="width: 100%; height: 100%;">
          </div>
          <!--
          <i class="im-icon im-icon-ring-open"/>-->
          <i class="im-icon im-icon-panel-down" @click="isShowClick"/>
        </div>
      </header>

      <nav class="im-tab-nav">
        <ul class="im-tab">
          <li
            v-for="item in imTabList"
            :key="item.index"
            :class="{'im-tab-item-selected': item.isSelected}"
            class="im-tab-item"
            @click="imTabSelectedHandle(item.index)">
            {{ item.title }}
            <div
              v-if="item.index === 1 && user.profile.friendAskCount > 0"
              class="im-tab-badge">
              new
            </div>
          </li>
        </ul>
      </nav>

      <!-- 历史消息-->
      <main v-if="imTabSelectedIndex === 0" class="im-panel-body">
        <div v-if="!webSocketIsOpen" class="im-user-warning-box">
          <div class="im-chat-warning" style="top: 0;" v-html="webSocketWarningText"/>
        </div>
        <div v-if="!webSocketIsReconnect" class="im-chat-reconnect">
          <a href="javascript:" @click="init">重新连接</a>
        </div>
        <!--
        <div class="im-panel-searchbar">
          <div class="im-panel-searchbar-inner">
            <img src="./image/search.png" class="im-panel-search">
            <input type="search" placeholder="搜索" class="im-panel-searchbar-core" style="margin-top: -25px;">
          </div>
        </div>-->

        <div v-if="Object.keys(historyMsgList).length === 0" class="im-list-empty">
          暂无数据
        </div>
        <ul class="im-panel-user-list">

          <template v-for="(item) in sortHistoryMsgList">
            <li :key="item.type + item.id" @click="handleChat(item)">
              <div class="im-user-left">
                <img :src="item.avatar | getDefaultAvatar" alt="" class="im-user-avatar">
              </div>
              <div class="im-user-right">
                <div class="im-user-info">
                  <span :title="item.name" class="im-user-name">
                    {{ item.name }}
                  </span>
                  <span :title="item.lastMsgContent" class="im-user-remark">
                    {{ item.lastMsgContent }}
                  </span>
                </div>
              </div>
              <div v-if="item.unMsgCount > 0" class="im-panel-badge">{{ item.unMsgCount > 99 ? '99+' : item.unMsgCount }}
              </div>
            </li>
          </template>
        </ul>
      </main>

      <footer class="im-panel-footer">
        <div class="im-panel-theme" @click="themeVisible = !themeVisible">
          <img src="./image/theme.png" alt="更换主题">
        </div>
        <div v-if="themeVisible" class="im-panel-theme-list">
          <div
            v-for="(item, index) in themeList"
            :key="index"
            class="im-panel-theme-item"
            @click="changeTheme(index, true)">
            <div v-if="item['background-image']" :style="item"/>
            <div v-else/>
          </div>
        </div>
      </footer>
    </div>

    <!--聊天界面-->
    <div v-show="chatVisible" ref="imChatBox" :style="imChatBoxStyle" class="im-chat-box">
      <header class="im-chat-header">
        <div class="im-chat-move" @mousedown="moveChatMsg"/>
        <div class="im-chat-user">
          <img :src="chatUser.avatar" alt="" class="im-chat-user-avatar">
          <div class="im-chat-user-info">
            <span :title="chatUser.name" class="im-chat-user-name">
              {{ chatUser.name }}
            </span>
            <span v-if="Object.keys(chatMsgGroupUserList).length > 0" class="im-chat-user-list-button">
              {{ Object.keys(chatMsgGroupUserList).length }}人
            </span>
            <i v-if="chatUser.type === 2" class="im-icon im-icon-panel-down" @click="isShowGroupUserListClick"/>
            <span :title="chatUser.remark" class="im-chat-user-remark">
              {{ chatUser.remark }}
            </span>
          </div>
        </div>
        <div class="im-chat-setwin">
          <i class="im-icon im-icon-close" @click="closeChat"/>
        </div>
        <div v-if="!webSocketIsOpen" class="im-chat-warning" v-html="webSocketWarningText"/>
      </header>

      <main id="chatMsgList" class="im-chat-main">
        <a class="im-list-more" @click="getChatMsgList">{{ chatMsgListHandleMoreText }}</a>
        <template v-for="(item, index) in chatMsgList">
          <div :class="item.isMine ? 'im-chat-msg-mine' : ''" :key="index" class="im-chat-msg-box">
            <div class="im-chat-msg-user">
              <img :src="item.user.avatar | getDefaultAvatar">
              <div v-if="item.isMine" class="im-chat-msg-user-remark">
                <i>{{ item.createTime }}</i><span>{{ item.user.name }}</span>
              </div>
              <div v-else class="im-chat-msg-user-remark">
                <span>{{ item.user.name }}</span><i>{{ item.createTime }}</i>
              </div>
            </div>
            <div class="im-chat-msg-text" v-html="item.msgContent"/>
          </div>
        </template>
      </main>

      <footer class="im-chat-footer">
        <div class="im-chat-feature-holder">
          <div class="im-chat-feature-btn-box">
            <div class="im-chat-feature-btn im-icon im-icon-emoji im-emoji-box" @click="handleEmoji">
              <div v-if="emojiVisible" class="im-emoji-holder">
                <template v-for="item in emojiList">
                  <div :key="item" @click="selectEmoji(item)">
                    {{ item }}
                  </div>
                </template>
              </div>
            </div>
            <!--
            <div class="im-chat-feature-btn im-icon im-icon-photo" @click="selectImgFile">
              <input
                ref="imgFile"
                :id="inputId"
                style="display: none"
                type="file"
                accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"
                multiple="multiple"
                @change="handleFileChange($event)">
            </div> -->
          </div>
        </div>
        <div class="im-chat-text-holder">
          <textarea ref="himChatText" v-model="chatText" placeholder="请输入" @blur="chatTextBlur"/>
        </div>
        <div class="im-chat-send-box">
          <div class="im-chat-send">
            <div class="im-chat-send-btn" @click="closeChat">关闭</div>
            <div class="im-chat-send-btn" @click="sendBtnClick">发送</div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie'
// eslint-disable-next-line no-unused-vars
import { getUserChatHis, getChatHis, uploadImg, uploadFile } from './api/im'

export default {
  name: 'ImClient',
  props: {
    isShow: {
      type: Boolean,
      default: true
    },
    width: {
      type: String,
      default: '450px'
    },
    height: {
      type: String,
      default: '800px'
    },
    top: {
      type: String,
      default: '20'
    },
    left: {
      type: String,
      default: '20'
    },
    bottom: {
      type: String,
      default: '0'
    },
    right: {
      type: String,
      default: '0'
    },
    apiBaseUrl: {
      type: String,
      default: ''
    },
    webSocketUrl: {
      type: String,
      default: ''
    },
    userQRCodeUrl: {
      type: String,
      default: ''
    },
    groupQRCodeUrl: {
      type: String,
      default: ''
    },
    // 是否自动初始化
    isAutoInit: {
      type: Boolean,
      default: true
    },
    // 尝试重新连接的最大次数
    webSocketReconnectMaxCount: {
      type: Number,
      default: 100000
    },
    // WebSocket 编码
    wsResEncode: {
      type: Function,
      default: function(data) {
        return JSON.stringify(data)
      }
    },
    // WebSocket 编码
    wsResDecode: {
      type: Function,
      default: function(data) {
        return JSON.parse(data)
      }
    }
  },
  data() {
    return {
      btnLoading: false,
      inputId: 'uploadImageId',
      currentSong: 'https://xinboim.oss-cn-hangzhou.aliyuncs.com/audio/2.mp3',
      loginForm: {
        userAccount: '',
        userPassword: '',
        orgId: ''
      },
      isLogin: false,
      userData: {
        userId: '',
        nickName: '',
        avatar: '',
        orgId: '',
        token: ''
      },
      themeList: [
        {
          'background-image':
          'url(' + require('./image/bg-1.jpg') + ')',
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-color': '#f6f6f6'
        }, {
          'background-image':
          'url(' + require('./image/bg-2.jpg') + ')',
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-color': '#f6f6f6'
        }, {
          'background-image':
            'url(' + require('./image/bg-3.jpg') + ')',
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-color': '#f6f6f6'
        }, {
          'background-image':
            'url(' + require('./image/bg-4.jpg') + ')',
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-color': '#f6f6f6'
        }, {
          'background-image':
            'url(' + require('./image/bg-5.jpg') + ')',
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-color': '#f6f6f6'
        }, {
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-color': '#f6f6f6'
        }
      ],
      themeSelected: {
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-color': '#f6f6f6'
      },
      themeVisible: false,
      imTabList: [
        {
          index: 0,
          isSelected: true,
          title: '消息列表'
        }
      ],
      imTabSelectedIndex: 0,
      isMove: false,
      clientWidth: null,
      clientHeight: null,
      user: {
        profile: {},
        sid: null,
        avatar: 'https://xinboim.oss-cn-hangzhou.aliyuncs.com/images/default_user_avatar.png'
      },
      imBoxPositionX: null,
      imBoxPositionY: null,
      historyMsgList: {},
      historyMsgListSelected: {},
      createGroupName: '',
      createGroupVisible: false,
      chatVisible: false,
      emojiList: [
        '😀', '😁', '😂', '😄', '😅', '😆', '😇',
        '😉', '😊', '😋', '😌', '😍', '😘', '😙',
        '😜', '😝', '😎', '😏', '😶', '😑', '😒',
        '😳', '😞', '😟', '😠', '😡', '😔', '😕',
        '😣', '😖', '😫', '😤', '😮', '😱', '😨',
        '😰'],
      htmlEmojiList: '',
      emojiVisible: false,
      chatUser: {},
      chatTextFocus: false,
      chatCount: 0, // 当前窗口收到的消息总量
      chatText: '',
      chatMsgListPositionX: null,
      chatMsgListPositionY: null,
      chatMsgList: [],
      chatMsgListQuery: {
        page: {
          pageSize: 100,
          pageIndex: 0,
          timeOrder: 2
        },
        userId: '',
        token: ''
      },
      chatMsgListGroupQuery: {
        groupId: null,
        page: 1,
        limit: 25
      },
      chatMsgGroupUserList: {},
      chatMsgGroupUserVisible: false,
      chatMsgListScrollTop: true,
      chatMsgListHandleLoading: false,
      chatMsgListHandleMoreText: '',
      chatMaxCount: 1, // 最大消息数, 用作有多少条消息就 ack 一次, 后期可以做成定时器
      webSocket: null,
      webSocketReconnectCount: 0,
      webSocketIsReconnect: true, // 是否重连
      webSocketWarningText: '连接断开,正在尝试重连 <i class=\'dotting\'></i>',
      webSocketIsOpen: false,
      forceDisconnected: false,
      reconnectflag: false,
      // 心跳定时器
      webSocketPingTimer: null,
      webSocketPongTimer: null,
      webSocketPingTime: 30000, // 心跳的间隔，当前为 10秒,
      webSocketPongTime: 10000, // 心跳的间隔，当前为 10秒,
      confirm: {
        isShow: false, // 是否显示
        title: '提示', // 标题
        message: '确定执行吗?', // 标题
        okHandle: function() {
        }, // 确认的回调
        okName: '确认', // 确认按钮的名称
        cancelHandle: function() {
        }, // 取消的回调
        cancelName: '取消' // 取消按钮的名称
      }
    }
  },
  methods: {
    handleFileChange(event) {
      const files = event.target.files
      if (files != null && files.length >= 1) {
        this.uploadImg(files[0])
      }
    },
    selectImgFile() {
      this.$refs.imgFile.dispatchEvent(new MouseEvent('click'))
    },
    doLogin() {
      if (!this.loginForm.orgId) {
        return
      }
      console.log('>>>>>>>>>>>>>>>>>>>>>>> 开始登录' + this.loginForm)
      this.btnLoading = true
      const loginReqDate = {
        orgId: this.loginForm.orgId,
        userName: this.loginForm.userAccount,
        password: this.loginForm.userPassword
        // deviceType: this.loginForm.orgId,
        // deviceId: this.loginForm.orgId
      }
      // eslint-disable-next-line no-unused-vars
      const messageData = {
        command: 3,
        version: 1,
        loginReq: loginReqDate
      }
      if (this.webSocketIsOpen && loginReqDate.orgId) {
        this.webSocketSend(messageData)
      }
    },
    // 输入框的失去焦点事件
    chatTextBlur() {
      window.scroll(0, 0)
    },
    // 判断字符是否为空的方法
    isEmpty(obj) {
      return (
        !obj || typeof obj === 'undefined' || obj === null || obj === ''
      )
    },
    // 设置 登录用户ID
    setUid(value) {
      Cookies.set('UID', value, {
        expires: 365,
        path: '/'
      })
    },
    getUid() {
      const uid = Cookies.get('UID', {
        path: '/'
      })
      if (this.isEmpty(uid)) {
        return null
      }
      return uid
    },
    delUid() {
      Cookies.remove('UID', {
        path: '/'
      })
    },
    setSid(value) {
      Cookies.set('SID', value, {
        expires: 365,
        path: '/'
      })
    },
    getSid() {
      const sid = Cookies.get('SID', {
        path: '/'
      })
      if (this.isEmpty(sid)) {
        return null
      }
      return sid
    },
    delSid() {
      Cookies.remove('SID', {
        path: '/'
      })
    },
    setLocalStorage(name, value) {
      localStorage.setItem(name, value)
    },
    getLocalStorage(name) {
      return localStorage.getItem(name)
    },
    // 点击切换主题
    changeTheme(index, isLocalStorage) {
      if (
        index === null ||
        index < 0 ||
        this.themeList.length === 0 ||
        index >= this.themeList.length
      ) {
        return false
      }
      const themeSelected = this.themeList[index]
      if (themeSelected) {
        this.themeSelected = themeSelected
        if (isLocalStorage === true) {
          this.setLocalStorage('themSelectedIndex', index)
        }
      }
    },
    // im-box 的询问框
    confirmInit(
      title,
      message,
      okHandle,
      cancelHandle,
      okName,
      cancelName
    ) {
      this.confirm.isShow = true
      this.confirm.title = title
      this.confirm.message = message
      this.confirm.okHandle = okHandle
      this.confirm.cancelHandle = cancelHandle
      if (okName) {
        this.confirm.okName = okName
      }
      if (cancelName) {
        this.confirm.cancelName = cancelName
      }
    },
    userOutClick() {
      this.confirmInit(
        '提示',
        '确定登出吗?',
        () => {
          this.isLogin = false
          this.confirm.isShow = false

          const messageData = {
            command: 8,
            version: 1
          }
          if (this.webSocketIsOpen) {
            this.webSocketSend(messageData)
          }
          this.loginForm = {
            userAccount: '',
            userPassword: '',
            orgId: ''
          }
        },
        () => {
          this.confirm.isShow = false
        }
      )
    },
    loginSuccess(data) {
      this.btnLoading = false
      // eslint-disable-next-line no-empty
      if (data !== null && data.loginRes !== null) {
        if (data.loginRes.code === 0 && data.loginRes.token !== null && data.loginRes.token !== '') {
          this.isLogin = true
          this.userData.token = data.loginRes.token
          this.userData.nickName = data.loginRes.user.nickName

          this.userData.userId = data.loginRes.user.userId
          this.userData.avatar = data.loginRes.user.avatar
          this.userData.orgId = data.loginRes.user.orgId
          this.historyMsgList = {}
          this.getChatHis()
          // eslint-disable-next-line no-empty
        } else {
          this.userData.token = ''
          this.userData.nickName = ''

          this.userData.userId = ''
          this.userData.avatar = ''
          this.userData.orgId = ''
        }
      }
    },
    getChatHis() {
      const query = {
        page: {
          pageSize: 1000,
          pageIndex: 0,
          timeOrder: 2
        },
        orgId: this.userData.orgId,
        token: this.userData.token
      }
      getChatHis(query).then(response => {
        // eslint-disable-next-line no-empty
        if (response.code === 0 && response.data !== null && response.data.length > 0) {
          // eslint-disable-next-line no-empty
          for (var i = 0; i < response.data.length; i++) {
            var type = 1
            var id
            var name
            var avatar
            var remark
            console.log('发送人用户ID:' + response.data[i].receiveUserId)
            console.log('当前登录用户ID:' + this.userData.userId)
            if (parseInt(response.data[i].receiveUserId) === parseInt(this.userData.userId)) {
              id = response.data[i].sendUserId
              name = response.data[i].sendNickName
              avatar = response.data[i].sendUserAvatar
              remark = response.data[i].sendUserSign
            } else {
              id = response.data[i].receiveUserId
              name = response.data[i].receiveNickName
              avatar = response.data[i].receiveUserAvatar
              remark = response.data[i].receiveUserSign
            }

            const msg = JSON.parse(response.data[i].content)
            var lastMsgContent = msg.text
            var unMsgCount = 0
            var createTime = response.data[i].sendTime
            this.pushHistoryMsg(
              type, id, name, remark, avatar, lastMsgContent, unMsgCount, createTime
            )
          }
          console.log(this.historyMsgList)
        } else {
          this.requestErr(response.code, response.message)
          return false
        }
      }).catch(() => {
      })
    },
    uploadImg(file) {
      var formData = new FormData()
      formData.append('im_img', file)
      uploadImg(formData).then(response => {
        // eslint-disable-next-line no-empty
        if (response.code === 0 && response.data.list !== null && response.data.list.length > 0) {
          console.log(response)
        } else {
          this.requestErr(response.code, response.message)
          return false
        }
      }).catch(() => {
      })
    },
    // 登出
    userOut() {
      this.delUid()
      this.delSid()
      this.user = {
        profile: {},
        sid: null
      }
      this.historyMsgList = {}
      this.historyMsgListSelected = {}
      this.chatMsgList = []
      this.chatMsgGroupUserList = {}
      this.chatCount = 0
      // 关闭websocket 连接 wsOut()
    },
    // 初始化界面
    init() {
      // 初始化主题背景
      const themSelectedIndex = this.getLocalStorage('themSelectedIndex')
      this.changeTheme(themSelectedIndex, false)
      // 初始化用户信息
      this.userInit()
      // 处理信息
      // 打开通知, try 一下, 因为一些浏览器不兼容, 会报错
      try {
        var Notification =
          window.Notification ||
          window.mozNotification ||
          window.webkitNotification
        // 判断浏览器是否支持桌面通知
        if (Notification) {
          const requestPermission = Notification.requestPermission()
          if (requestPermission.then) {
            requestPermission.then(function(result) {
              if (result) {
                console.log(result)
              }
            })
          }
        }
      } catch (e) {
        console.log(e)
      }
    },
    // 请求错误处理
    requestErr(code, message) {
      // 登录失效的
      if (code === 1) {
        this.delUid()
        this.delSid()
      }
      // 向父组件传递出去
      this.$emit('on-request-err', code, message)
    },
    // 去换Tab
    imTabSelectedHandle(index) {
      const data = []
      for (const item of this.imTabList) {
        let isSelected = false
        if (item.index === index) {
          this.imTabSelectedIndex = index
          isSelected = true
        }
        item.isSelected = isSelected
        data.push(item)
      }
      this.imTabList = data
    },
    msgClearUnMsgCount(type, id) {
      if (type === 1) {
        // 清空未读消息数量
        // eslint-disable-next-line no-empty
      } else if (type === 2) {
      }
    },
    // 打开聊天界面
    handleChat(item) {
      if (item.unMsgCount > 0) {
        this.msgClearUnMsgCount(item.type, item.id)
        const key = item.type + '-' + item.id
        this.historyMsgList[key].unMsgCount = 0
      }
      this.chatVisible = true
      this.chatUser = item
      this.chatMsgList = []
      this.historyMsgListSelected = item
      this.chatMsgListQuery.page.pageIndex = 1
      this.chatMsgListGroupQuery.page = 1
      this.chatMsgGroupUserList = {}
      // 追加
      this.getChatMsgList()
    },
    // 追加历史消息列表
    getChatMsgList() {
      if (this.chatMsgListHandleLoading) {
        return false
      }
      // 不是第一次加载时
      if (this.chatMsgList.length !== 0) {
        this.chatMsgListScrollTop = false
      }
      this.chatMsgListHandleLoading = true
      this.chatMsgListHandleMoreText = '加载中'
      const historyItem = this.historyMsgListSelected
      const isLoad = true // 是否是加载更多
      // 如果是好友类型

      if (historyItem.type === 1) {
        // eslint-disable-next-line no-unused-vars
        this.chatMsgListQuery.userId = historyItem.id
        this.chatMsgListQuery.token = this.userData.token
        console.log(this.chatMsgListQuery)
        getUserChatHis(this.chatMsgListQuery)
          .then(response => {
            this.chatMsgListQuery.page.pageIndex += 1
            this.chatMsgListHandleLoading = false
            if (response.code !== 0) {
              this.requestErr(response.code, response.message)
              return false
            }
            const list = response.data.list
            if (list.length === 0) {
              this.chatMsgListHandleMoreText = '没有更多了'
              return false
            }
            for (const item of list) {
              var isMine = true
              if (this.userData.userId === parseInt(item.sendUserId)) {
                isMine = true
              } else {
                isMine = false
              }
              let user = {}
              if (isMine) {
                // eslint-disable-next-line no-const-assign
                user = {
                  uid: this.userData.userId,
                  name: this.userData.nickName,
                  avatar: this.userData.avatar
                }
              } else {
                user = {
                  uid: historyItem.id,
                  name: historyItem.name,
                  avatar: historyItem.avatar
                }
              }
              var msgType = item.messageType
              // eslint-disable-next-line no-unused-vars
              const msg = JSON.parse(item.content)
              var msgContent = msg.text
              var createTime = item.sendTime
              // 追加到消息列表
              this.pushChatMsgList(
                msgType,
                msgContent,
                user,
                createTime,
                isLoad
              )
            }
            this.chatMsgListHandleMoreText = '加载更多消息'
          })
          .catch(() => {
            this.chatMsgListHandleLoading = false
            this.chatMsgListHandleMoreText = ''
          })
      }
    },
    isShowClick() {
      // 传递到父组件
      this.$emit('on-is-show-click')
    },
    // 关闭
    closeChat() {
      const selectedType = this.historyMsgListSelected.type || 0
      const id = this.historyMsgListSelected.id || 0
      this.historyMsgListSelected = {}
      this.chatMsgList = []
      this.chatVisible = false
      // 清空文本
      this.chatText = ''
      // 清空群聊的二维码信息
      // 如果有当前窗口有未读消息，清除一下未读消息
      if (this.chatCount > 0) {
        this.chatCount = 0
        // 清空消息
        this.msgClearUnMsgCount(selectedType, id)
      }
    },
    handleEmoji() {
      this.emojiVisible = !this.emojiVisible
    },
    selectEmoji(item) {
      this.chatText += item
      this.chatTextFocus = true
    },
    userInit() {
      if (!this.getUid() || !this.getSid()) {
        return false
      }
    },
    // 追加历史消息 (type: 1:好友,2:群消息)
    pushHistoryMsg(type, id, name, remark, avatar, lastMsgContent, unMsgCount, modifiedTime) {
      const key = type + '-' + id
      const map = Object.assign({}, this.historyMsgList)
      const item = map[key]
      console.log(item, key, '历史消息')
      if (item) {
        item.lastMsgContent = lastMsgContent
        item.unMsgCount += unMsgCount
        item.modifiedTime = modifiedTime
        map[key] = item
        this.historyMsgList = map
        return false
      }
      const data = {
        id: id,
        type: type,
        name: name,
        remark: remark,
        avatar: avatar,
        lastMsgContent: lastMsgContent,
        unMsgCount: unMsgCount,
        modifiedTime: modifiedTime
      }
      map[key] = data
      this.historyMsgList = map
    },
    // 追加消息到当前聊天 {isLoad：是否加载更多}
    pushChatMsgList(msgType, msgContent, user, createTime, isLoad) {
      msgContent = this.createContent(msgContent)
      createTime = this.formatDate(createTime, 'yyyy/MM/dd hh:mm:ss')
      const item = {}
      item.isMine = this.userData.userId === parseInt(user.uid)
      item.user = user
      item.msgType = msgType
      if (msgType === 0 || msgType === 6) {
        item.msgContent = msgContent
      } else {
        item.msgContent = "<img src='" + msgContent + "' style='width: 100%; height: 100%'/>"
      }
      console.log(item.msgType)
      console.log(item.msgContent)
      item.createTime = createTime
      // 加载更多，向头部增加
      if (isLoad) {
        this.chatMsgList.unshift(item)
      } else {
        // 头部尾部增加
        this.chatMsgList.push(item)
      }
    },
    showMsg(data) {
      if (data !== null && data.messageReq !== null) {
        // eslint-disable-next-line no-unused-vars
        let unMsgCount = 1
        const selectedType = this.historyMsgListSelected.type || 0
        const id = this.historyMsgListSelected.id || 0
        const historyType = 1
        var userId = data.messageReq.fromUser.userId
        var nickName = data.messageReq.fromUser.nickName
        var avatar = data.messageReq.fromUser.avatar
        const user = {
          uid: userId,
          name: nickName,
          avatar: avatar
        }
        // eslint-disable-next-line no-unused-vars
        var msgContent = data.messageReq.content.text
        // eslint-disable-next-line no-unused-vars
        var messageContent = data.messageReq.content.text
        const msgType = data.messageReq.msgType
        var createTime = this.formatDate(data.messageReq.sendTime, 'yyyy/MM/dd hh:mm:ss')
        switch (msgType) {
          case 1:
            msgContent = '[图片消息]'
            break
          case 2:
            msgContent = '[文件消息]'
            break
          case 3:
            msgContent = '[语言消息]'
            break
          case 4:
            msgContent = '[视频消息]'
            break
          case 6:
            msgContent = '[入款请求]'
            break
          case 7:
            msgContent = '[入款信息]'
            break
        }
        if (selectedType === historyType && parseInt(id) === data.messageReq.fromUser.userId) {
          unMsgCount = 0
        }
        if (this.chatVisible === true) {
          if (this.chatUser !== null && this.chatUser.id !== null && parseInt(this.chatUser.id) === data.messageReq.fromUser.userId) {
            this.pushChatMsgList(msgType, messageContent, user, createTime, false)
          }
        } else {
          this.pushChatMsgList(msgType, messageContent, user, createTime, false)
        }
        if (msgType !== 7 && msgType !== '7') {
          this.pushHistoryMsg(historyType, userId, nickName, nickName, avatar, msgContent, unMsgCount, createTime)
        }
        this.$refs.playAudio.play()
      }
    },
    wsOut() {
      this.webSocketWarningText = '异地登录请重新登录'
      // 修改重连状态
      this.webSocketIsReconnect = false
      if (this.webSocket) {
        console.log('关闭websocket')
        // 关闭 websocket
        this.webSocket.close()
      }
    },
    // 断开连接时
    webSocketClose() {
      // 修改状态为未连接
      this.webSocketIsOpen = false
      // this.webSocketWarningText = ''
      if (this.webSocketIsReconnect && this.forceDisconnected === false) {
        this.webSocketReconnect()
      }
      /* this.webSocket = null
      // 判断是否重连
      if (
        this.webSocketIsReconnect &&
        this.webSocketReconnectCount === 0 &&
        this.forceDisconnected === false
      ) {
        // 第一次直接尝试重连
        console.log('首次重连！！！！！！！！！！！！！！！！！！！！！！')
        this.webSocketReconnect()
      } */
    },
    // 定时心跳
    heartStart() {
      this.webSocketPingTimer = setTimeout(() => {
        if (!this.webSocketIsOpen) {
          return false
        }
        console.log('心跳')
        const payload = {
          version: 1,
          command: 7
        }
        // 发送心跳包
        this.webSocketSend(payload)
        // clearTimeout(this.webSocketPingTimer)
        // 重新执行
        // this.webSocketPing()
        this.webSocketPongTimer = setTimeout(() => {
          // 延时关闭socket
          this.webSocket.close()
        }, this.webSocketPongTime)
      }, this.webSocketPingTime)
    },
    heartReset() {
      clearTimeout(this.webSocketPingTimer)
      clearTimeout(this.webSocketPongTimer)
    },
    heartCheck() {
      this.heartReset()
      this.heartStart()
    },
    // 初始化 WebSocket
    webSocketInit() {
      this.webSocketWarningText = '连接断开,正在尝试重连 <i class=\'dotting\'></i>'
      // 修改是否重连为 true
      this.webSocketIsReconnect = true
      this.webSocket = new WebSocket(this.webSocketUrl)
      this.webSocket.onopen = this.webSocketHandleOpen
      this.webSocket.onerror = this.webSocketHandleError
      this.webSocket.onmessage = this.webSocketHandleMessage
      this.webSocket.onclose = this.webSocketHandleClose
    },
    // WebSocket 重连
    webSocketReconnect() {
      if (this.webSocketIsOpen) {
        return false
      }
      if (this.forceDisconnected === true) {
        return false
      }
      console.log('重连..................')
      this.webSocketReconnectCount += 1
      // 判断是否到了最大重连次数
      /* if (
        this.webSocketReconnectCount >= this.webSocketReconnectMaxCount
      ) {
        this.webSocketWarningText = '重连次数超限'
        return false
      } */
      // 初始化
      // this.webSocketInit()
      // 每过 5 秒尝试一次，检查是否连接成功，直到超过最大重连次数
      if (this.reconnectflag === true) {
        return false
      }
      this.reconnectflag = true
      setTimeout(() => {
        // this.webSocketReconnect()
        this.webSocketInit()
        // clearTimeout(timer)
        this.reconnectflag = false
      }, 7000)
    },
    // WebSocket 打开成功后
    webSocketHandleOpen() {
      console.log('连接打开')
      this.webSocketIsOpen = true
      // 清空重连的次数
      this.webSocketReconnectCount = 0
      // 发送登录信息
      this.doLogin()
      // 开启定时心跳
      this.heartCheck()
    },
    // WebSocket 关闭
    webSocketHandleClose() {
      console.log('连接断开')
      // 关闭心跳
      this.webSocketClose()
    },
    // WebSocket 发生错误时
    webSocketHandleError(err) {
      console.log('连接报错：', err)
      // 关闭心跳
      this.webSocketClose()
    },
    // 接收到消息时
    webSocketHandleMessage(event) {
      // 响应体的message
      const data = event.data
      this.wsResDecode(data, response => {
        console.log('服务端消息:', response)
        const command = response.command || 0
        switch (command) {
          case 4:
            // 登录成功
            this.loginSuccess(response)
            break
          case 5:
            // 收到消息
            this.showMsg(response)
            break
          case 6:
            // 消息回复
            break
          case 11:
            this.disconn()
            break
        }
      })
      this.heartCheck()
    },
    disconn() {
      this.forceDisconnected = true
      /* this.$alert('您已在别处登录，被迫下线！！', '提示', {
        confirmButtonText: '确定'
      }) */
      this.webSocket.close()
      this.heartReset()
      this.$confirm('您已在其他页面登录客服，是否重新登录客服聊天?', '提示', {
        confirmButtonText: '重新登录',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.forceDisconnected = false
        this.webSocketInit()
      })
    },
    // 发送ws消息
    webSocketSend(payload) {
      // 加入登录验证
      const buffer = this.wsResEncode(payload)
      this.webSocket.send(buffer)
    },
    // 发送按钮点击
    sendBtnClick() {
      if (
        !this.chatText ||
        this.chatText === '' ||
        /^[ ]+$/.test(this.chatText)
      ) {
        return false
      }
      const item = this.historyMsgListSelected
      // eslint-disable-next-line no-unused-vars
      const msgType = 0 // 文本消息
      if (item.type === 1) {
        // 发送消息
        const fromUser = {
          userId: this.userData.userId,
          nickName: this.userData.nickName,
          avatar: this.userData.avatar,
          orgId: this.userData.orgId
        }
        const toUser = {
          userId: item.id,
          nickName: item.name,
          avatar: item.avatar
        }
        const content = {
          text: this.chatText
        }
        var nowTime = new Date()
        var messageId = nowTime.getTime() + this.userData.userId
        const messageReqDate = {
          messageId: messageId.toString(),
          fromUser: fromUser,
          toUser: toUser,
          msgType: 0,
          content: content,
          sendTime: nowTime.getTime()
        }
        const messageData = {
          command: 5,
          version: 1,
          messageReq: messageReqDate
        }
        // eslint-disable-next-line no-unused-vars
        this.webSocketSend(messageData)
        const user = {
          uid: this.userData.userId,
          name: this.userData.nickName,
          avatar: this.userData.avatar
        }
        this.receiveMessage(1, item.id, item.name, item.remark, item.avatar, 0, user, this.chatText, nowTime)
        this.chatText = ''
        return false
      }
    },
    // 接收消息的追加
    receiveMessage(type, id, name, remark, avatar, msgType, user, msgContent, createTime) {
      // 是否自动滚动到底部
      this.chatMsgListScrollTop = true
      const data = {}
      data.isMine = this.userData.userId === user.uid
      if (this.historyMsgListSelected !== null) {
        data.msgType = msgType
        data.user = user
        data.msgContent = this.createContent(msgContent)
        data.createTime = this.formatDate(createTime, 'yyyy/MM/dd hh:mm:ss')
        this.chatMsgList.push(data)
      }

      let lastMsgContent = msgContent
      switch (msgType) {
        case 1:
          lastMsgContent = '[图片消息]'
          break
        case 2:
          lastMsgContent = '[文件消息]'
          break
        case 3:
          lastMsgContent = '[语言消息]'
          break
        case 4:
          lastMsgContent = '[视频消息]'
          break
      }
      const unMsgCount = data.isMine ? 0 : 1
      // 更新最后一次接收的消息
      this.pushHistoryMsg(type, id, name, remark, avatar, lastMsgContent, unMsgCount, createTime)
    },
    // 格式化文本消息, 这里主要做表情的筛选
    createContent(text) {
      if (typeof text === 'string') {
        text = this.htmlSpecialChars(text)
        const html = text
        /* eslint-disable */
        return html
      }
      return text
    },
    getDate(dateStr) {
      let date = new Date(dateStr)
      if (isNaN(date.getDate())) {
        // 说明有可能是手机端, 做一下处理
        dateStr = dateStr.replace(/T/g, ' ')
        dateStr = dateStr.replace(/-/g, '/')
        dateStr = dateStr.replace(/\.\d+/, ' ')
        date = new Date(dateStr)
        // 如果还是转换不了
        if (isNaN(date.getDate())) {
          return null
        }
      }
      return date
    },
    // 日期的格式化
    formatDate(dateStr, fmt) {
      if (!dateStr) {
        return ''
      }
      let date = this.getDate(dateStr)
      if (!date) {
        return ''
      }
      if (!fmt) {
        fmt = 'yyyy-MM-dd'
      }
      const o = {
        'M+': date.getMonth() + 1, //月份
        'd+': date.getDate(), //日
        'h+': date.getHours(), //小时
        'm+': date.getMinutes(), //分
        's+': date.getSeconds(), //秒
        'q+': Math.floor((date.getMonth() + 3) / 3), //季度
        S: date.getMilliseconds() //毫秒
      }
      if (/(y+)/.test(fmt)) {
        fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length)
        )
      }
      for (let k in o) {
        if (new RegExp('(' + k + ')').test(fmt)) {
          fmt = fmt.replace(RegExp.$1, RegExp.$1.length === 1 ? o[k] : ('00' + o[k]).substr(('' + o[k]).length)
          )
        }
      }
      return fmt
    },
    htmlSpecialChars(str) {
      str = str.replace(/&/g, '&amp;')
      str = str.replace(/</g, '&lt;')
      str = str.replace(/>/g, '&gt;')
      str = str.replace(/"/g, '&quot;')
      str = str.replace(/'/g, '&#039;')
      return str
    },
    // 弹出浏览器通知
    notification(id, title, content, icon) {
      var Notification =
        window.Notification ||
        window.mozNotification ||
        window.webkitNotification
      // 判断浏览器是否支持桌面通知
      if (Notification && Notification.permission === 'granted') {
        let notification = new Notification(title, {
          body: content,
          icon: icon
        })
        notification.onclick = (() => {
          // 点击了通知消息
          notification.close()
        })
      }
    },
    // 主面板的移动
    moveImBox(e) {
      // let ele = e.target;
      //算出鼠标相对元素的位置
      const _this = this
      // let disX = e.clientX - ele.offsetLeft;
      // let disY = e.clientY - ele.offsetTop;
      let disX = e.clientX - this.$refs.imBox.offsetLeft
      let disY = e.clientY - this.$refs.imBox.offsetTop
      _this.isMove = true
      document.onmousemove = (e) => {
        //鼠标按下并移动的事件
        //用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
        let left = e.clientX - disX
        let top = e.clientY - disY

        //绑定元素位置到positionX和positionY上面
        _this.imBoxPositionY = left + 'px'
        _this.imBoxPositionX = top + 'px'

      }
      document.onmouseup = (e) => {
        _this.isMove = false
        document.onmousemove = null
        document.onmouseup = null
      }
    },
    // 聊天界面的移动
    moveChatMsg(e) {
      // let ele = e.target;
      //算出鼠标相对元素的位置
      const _this = this
      // let disX = e.clientX - ele.offsetLeft;
      // let disY = e.clientY - ele.offsetTop;
      let disX = e.clientX - this.$refs.imChatBox.offsetLeft
      let disY = e.clientY - this.$refs.imChatBox.offsetTop
      let disW = this.$refs.imChatBox.clientWidth
      let disH = this.$refs.imChatBox.clientHeight
      _this.isMove = true
      document.onmousemove = (e) => {
        // 鼠标按下并移动的事件
        // 用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
        let left = e.clientX - disX
        let top = e.clientY - disY
        // 判断是否到了临界值, 因为用了 transform: translate(-50%, -50%); 所以要除 2
        if ((top > (disH / 2)) && ((_this.clientHeight - top) > (disH / 2))) {
          _this.chatMsgListPositionX = top + 'px'
        }
        if ((left > (disW / 2)) && ((_this.clientWidth - left) > (disW / 2))) {
          _this.chatMsgListPositionY = left + 'px'
        }
      }
      document.onmouseup = (e) => {
        _this.isMove = false
        document.onmousemove = null
        document.onmouseup = null
      }
    }
  },
  directives: {
    focus: {
      update(el, { value }) {
        if (value) {
          el.focus()
        }
      }
    }
  },
  filters: {
    getDefaultAvatar(avatar) {
      if (avatar === null || avatar === '' || avatar === '') {
        return 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWAgMAAABBb5lxAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUxpcfDw8OPj4+Dg4FOJnTQAAAABdFJOUwBA5thmAAABUElEQVRYw+3Yy22EMBAGYDpLFUMOPlCCS3AVrmNLYJugBB9yy4UDKwHJhhj5Mdj/slYekn3+NPJ4PGNB87ICq2kQtV4x9l5ZZZVV9hvsjdpLnk30ufosG+6sy7HlrqjNsfGLkcqwYWMyw/TGXtNs21q8uYDN34zSbLKsT7LRMoUxmWQGY4NlXQmmLRM/yKwKi3qO6aLR/jJ7NFOB3RBR4iKZB5kq0Vlgny5Y1y8EjRpbBoHNty7DDDYGwaE6s4meneQrex5nn48tVZllI5fowdOmsGh90WiqVKbguWFVAEuP3TfwPQX7dJ9IbYrt3Ux0STBNBwPOY06woPwe0y4TR2wmbx0x4zPJs8VX3pk4bAyYG85hOmSCYxNFq2eYiZlkWKyc27mzhWEUs4ljfcRGjsmIDU+wrrJCzGBVYEuvInZjVFu/ASurrLL/y64N9sv6AwiKosleKgwtAAAAAElFTkSuQmCC'
      }
      return avatar
    },
    askAckStatusFilterName(index) {
      const map = {
        0: '确认',
        1: '已添加',
        2: '已拒绝'
      }
      return map[index]
    }
  },
  mounted() {
    // 获取浏览器可视区域高度
    this.clientHeight = `${document.documentElement.clientHeight}`
    this.clientWidth = `${document.documentElement.clientWidth}`

    this.__resizeHandler = () => {
      this.clientHeight = `${document.documentElement.clientHeight}`
      this.clientWidth = `${document.documentElement.clientWidth}`
    }
    // 添加事件
    window.addEventListener('resize', this.__resizeHandler)
  },
  // 组件销毁
  beforeDestroy() {
    // 移除事件
    window.removeEventListener('resize', this.__resizeHandler)
  },
  created() {
    this.webSocketInit();
    // 判断是否自动初始化
    if (this.isAutoInit) {
      this.init()
    }
  },
  computed: {
    imBoxStyle() {
      let data = {}
      if (this.width) {
        data.width = this.width
      }
      if (this.height) {
        data.height = this.height
      }
      if (this.top) {
        data.top = this.top
      }
      if (this.left) {
        data.left = this.left
      }
      if (this.bottom) {
        data.bottom = this.bottom
      }
      if (this.right) {
        data.right = this.right
      }
      if (this.imBoxPositionX && this.isShow) {
        data.top = this.imBoxPositionX
      }
      if (this.imBoxPositionY && this.isShow) {
        data.left = this.imBoxPositionY
      }
      data = {
        ...data,
        ...this.themeSelected
      }
      return data
    },
    imChatBoxStyle() {
      let data = {}
      data = {
        top: this.chatMsgListPositionX,
        left: this.chatMsgListPositionY,
        ...this.themeSelected
      }
      return data
    },
    sortHistoryMsgList: function() {
      let historyMsgList = []
      let historyMsgListKeys = Object.keys(this.historyMsgList)
        .sort((a, b) => {
          let aItem = this.historyMsgList[a]
          let bItem = this.historyMsgList[b]
          let aDate = this.getDate(aItem.modifiedTime)
          if (!aDate) {
            return -1
          }
          let bDate = this.getDate(bItem.modifiedTime)
          if (!bDate) {
            return 1
          }
          return bDate.getTime() - aDate.getTime()
        })
        .map((v) => {
          historyMsgList.push(this.historyMsgList[v])
        })
      return historyMsgList
    }
  },
  watch: {
    chatMsgList() {
      const _this = this
      this.$nextTick(function() {
        let chatMsgList = document.getElementById('chatMsgList')
        if (_this.chatMsgListScrollTop) {
          chatMsgList.scrollTop = chatMsgList.scrollHeight
        }
      })
    }
  },
  // 组件销毁时触发
  destroyed() {
    // 关闭 websocket 链接
    this.wsOut()
  }
}
</script>

<style type="text/scss" lang="scss">
  body,
  html {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
    "Microsoft YaHei", sans-serif;
    font-size: 14px;
  }

  *,
  ::before,
  ::after {
    /*选择所有标签*/
    margin: 0;
    padding: 0;
    /*清除移动端默认的点击高亮效果*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /*设置所有的元素都是以边框开始计算宽度的 百分比*/
    box-sizing: border-box;
  }

  a img {
    border: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  ul,
  ol {
    list-style: none;
  }

  input {
    border: none;
    outline: none;
    /*清除移动端默认的表单样式*/
    -webkit-appearance: none;
  }

  //清除浮动
  @mixin clearfix() {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  //截断文本  元素必须是 block 或 inline-block 级。
  @mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .im-box {
    position: fixed;
    width: 100%;
    height: 100%;
    /*border: 1px solid rgba(0, 0, 0, 0.05);*/
    /*border-radius: 5px;*/
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    transition: transform .3s ease;
    transform: translate3d(0, 100%, 0);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  .im-move {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: move;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #fff;
    z-index: 2147483647;
  }

  .im-box-show {
    transform: translateZ(0);
  }

  .im-icon {
    cursor: pointer;
    background-size: 44px auto;
    background-image: url(image/im-icon.png);
    background-repeat: no-repeat;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2) {
    .im-icon {
      background-image: url(image/im-icon@2x.png);
    }
  }

  .im-icon-ring-open {
    background-position: -22px -89px;
  }

  .im-icon-panel-down {
    background-position: -22px -66px;
  }

  .im-icon-close {
    background-position: 0 -130px;
  }

  .im-icon-emoji {
    background-position: 0 0;
  }

  .im-icon-photo {
    background-position: 0 -22px;
  }

  .im-icon-upload {
    background-position: 0 -440px;
  }

  .im-icon-ring-open,
  .im-icon-close,
  .im-icon-emoji,
  .im-icon-photo,
  .im-icon-upload,
  .im-icon-panel-down {
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  .im-box-move {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    cursor: move;
    z-index: 999;
  }

  .im-panel-header {
    position: relative;
    background-color: rgba(230, 230, 230, 0.7);
    color: #fff;
    height: 80px;
    padding: 7px 10px;
    zoom: 1;
    font-size: 16px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.01);
    overflow: hidden;

    .im-header-user {
      padding-left: 8px;
      margin-top: 12px;
      display: flex;
      align-items: center;

      .im-header-user-avatar {
        flex: 0 0 auto;
        display: inline-block;
        width: 52px;
        height: 52px;
        border-radius: 50%;
      }

      .im-header-user-content {
        margin-left: 8px;
        overflow: hidden;
      }

      .im-header-user-name {
        margin-top: 1px;
        color: #000;
        @include text-overflow;
      }

      .im-header-user-remark {
        margin-top: 1px;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.6);
        @include text-overflow;
      }
    }

    .im-header-out-login {
      display: inline-block;
      width: 22px;
      height: 22px;
      cursor: pointer;
    }

    .im-header-qrcode-box {
      display: inline-block;
      width: 22px;
      height: 22px;
      cursor: pointer;
    }

    .im-header-setwin {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .im-box-confirm-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    text-align: center;

    .im-box-confirm {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      background-color: #fff;
      width: 85%;
      border-radius: 3px;
      font-size: 16px;
      overflow: hidden;
      backface-visibility: hidden;
      transition: .2s;
    }

    .im-box-confirm-header {
      padding: 15px 0 0;
    }

    .im-box-confirm-title {
      text-align: center;
      padding-left: 0;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 700;
      color: #333;
    }

    .im-box-confirm-content {
      padding: 10px 20px 15px;
      border-bottom: 1px solid #ddd;
      min-height: 36px;
      position: relative;
    }

    .im-box-confirm-message {
      color: #999;
      margin: 0;
      text-align: center;
      line-height: 36px;
    }

    .im-box-confirm-buttons {
      display: flex;
      height: 40px;
      line-height: 40px;
    }

    .im-box-confirm-button {
      line-height: 35px;
      display: block;
      background-color: #fff;
      flex: 1;
      margin: 0;
      border: 0;
      cursor: pointer;
    }

    .im-box-confirm-cancel {
      width: 50%;
      border-right: 1px solid #ddd;
    }

    .im-box-confirm-ok {
      color: #26a2ff;
      width: 50%;
    }
  }

  .user-qrcode-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .user-qrcode {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }

    .user-qrcode-download {
      cursor: pointer;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
    }

    .user-uid {
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
    }
  }

  .user-login-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;

    .user-login-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      display: block;
      background: #ffffff;
      text-align: center;
      border-radius: 5px;
      padding: 10px 20px;
    }

    .user-login-button:first-child {
      margin-left: 0;
    }

    .user-login-button {
      display: inline-block;
      margin-left: 20px;
      cursor: pointer;
      text-align: center;

      img {
        width: 50px;
        height: 50px;
      }

      span {
        display: block;
        color: #ffffff;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .group-qrcode-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .group-qrcode {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }

    .group-qrcode-download {
      cursor: pointer;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
    }

    .group-id {
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
    }
  }

  .im-tab-nav {
    background-color: rgba(230, 230, 230, 0.7);
  }

  .im-tab {
    cursor: pointer;
    width: 100%;
    height: 42px;
    line-height: 42px;

    .im-tab-item {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 0.5;
      }
    }

    .im-tab-item-selected::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: #3FDD86;
    }

    .im-tab-badge {
      position: absolute;
      top: 4px;
      right: 10px;
      background-color: #f56c6c;
      border-radius: 10px;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      height: 19px;
      line-height: 19px;
      padding: 0 5px;
      text-align: center;
      white-space: nowrap;
      border: 1px solid #fff;
    }
  }

  .im-list-empty {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #999;
  }

  .im-panel-body {
    position: absolute;
    top: 122px;
    bottom: 30px;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fcfcfc;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .im-group-create {
    height: 40px;
    color: green;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;

    input {
      height: 25px;
      padding: 2px 5px;
      flex: 2;
      border: 1px solid rgba(0, 0, 0, 0.04);
    }

    .im-group-create-button {
      cursor: pointer;
      height: 100%;
      line-height: 40px;
      flex: 1;
    }
  }

  .im-new-friend {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding-right: 50px;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .im-new-friend-list-more {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .im-panel-searchbar {
    position: relative;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: 5px 7px;
    z-index: 1;
  }

  .im-panel-searchbar-inner {
    position: relative;
    height: 28px;
    padding-left: 25px;
    background-color: #fff;
    border-radius: 3px;
  }

  .im-panel-search {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 13px;
    vertical-align: middle;
    line-height: 28px;
  }

  .im-panel-searchbar-core {
    appearance: none;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: 0;
    outline-offset: -2px;
    vertical-align: middle;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .im-panel-user-list {
    li {
      position: relative;
      /*padding: 0 0 0 15px;*/
      padding-left: 12px;
      /*height: 65px;*/
      cursor: pointer;
      display: flex;
      overflow: hidden;
      align-items: center;
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .im-user-left {
      width: 52px;
      height: 52px;
    }

    .im-user-right {
      position: relative;
      padding: 18px 0;
      /*height: 100%;*/
      border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    }

    .im-user-avatar {
      display: inline-block;
      width: 52px;
      height: 52px;
      border-radius: 26px;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
      vertical-align: middle;
    }

    .im-user-info {
      display: inline-block;
      height: 100%;
      margin-left: 10px;
      vertical-align: middle;
    }

    .im-user-name {
      display: inline-block;
      margin-bottom: 3px;
      font-size: 15px;
      @include text-overflow;
    }

    .im-user-remark {
      display: block;
      max-width: 200px;
      margin-top: 3px;
      font-size: 12px;
      color: #999;
      @include text-overflow;
    }
    .im-panel-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #f56c6c;
      border-radius: 10px;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      height: 19px;
      line-height: 19px;
      padding: 0 5px;
      text-align: center;
      white-space: nowrap;
      border: 1px solid #fff;
    }

    .im-user-button {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: green;

      span {
        cursor: pointer;
      }
    }
  }

  .im-list-more {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    color: #777;
    cursor: pointer;
  }

  .im-panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f6f6f6;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;

    .im-panel-theme {
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .im-panel-theme-list {
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%;
      height: 140px;
      border-top: 1px solid #d9d9d9;
      background-color: #ffffff;
      padding-top: 10px;
      padding-left: 10px;
    }

    .im-panel-theme-item {
      padding-bottom: 10px;
      padding-right: 10px;
      display: inline-block;
      width: 33.33%;
      height: 50%;
      line-height: 50%;
      text-align: center;
      cursor: pointer;

      div {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #ccc;
      }
    }
  }

  .im-chat-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 522px;
    z-index: 100;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    overflow-y: hidden;
  }

  .im-chat-move {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    cursor: move;
  }

  .im-chat-header {
    position: relative;
    height: 80px;
    padding: 18px 12px 12px;
    /*background-color: #ececec;*/
    background-color: rgba(230, 230, 230, 0.7);
    color: #444;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.01);
    border-bottom: 1px solid #eee;
  }
  .im-chat-warning {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #e6a26d;
    font-size: 12px;
    /*background-color: #fdf6eb;*/
    background-color: rgba(253, 246, 235, 0.9);
    text-align: center;
    z-index: 3;
    opacity: 0.8;
  }
  .im-user-warning-box {
    height: 25px;
    background-color: rgba(0, 0, 0, 0);
  }
  .dotting {
    position: absolute;
    top: 12px;
    display: inline-block;
    width: 10px;
    min-height: 2px;
    padding-right: 2px;
    border-left: 2px solid currentColor;
    border-right: 2px solid currentColor;
    background-color: currentColor;
    background-clip: content-box;
    box-sizing: border-box;
    animation: dotting 2s infinite step-start both;
  }
  .dotting:before {
    content: '...';
  }
  /* IE8 */
  .dotting::before {
    content: '';
  }
  :root .dotting {
    margin-left: 2px;
    padding-left: 2px;
  }
  /* IE9+ */
  @keyframes dotting {
    25% {
      border-color: transparent;
      background-color: transparent;
    }
    /* 0个点 */
    50% {
      border-right-color: transparent;
      background-color: transparent;
    }
    /* 1个点 */
    75% {
      border-right-color: transparent;
    }
    /* 2个点 */
  }
  .im-chat-reconnect {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #f8f8f8;
  }
  .im-chat-user {
    cursor: default;
    display: flex;
    align-items: center;
  }
  .im-chat-user-avatar {
    flex: 0 0 auto;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 26px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    vertical-align: middle;
  }
  .im-chat-user-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    overflow: hidden;
  }
  .im-chat-user-info span{
    float: left;
    height: 17px;
    line-height: 17px;
  }
  .im-user-info span{
    float: left;
    height: 17px;
    line-height: 17px;
    width: 100%;
  }
  .im-chat-user-name {
    display: inline-block;
    max-width: 160px;
    font-size: 14px;
    @include text-overflow;
  }
  .im-chat-user-list-button {
    display: inline-block;
    overflow: hidden;
    margin-left: 10px;
    color: #999;
  }
  .im-chat-user-remark {
    display: block;
    font-size: 13px;
    color: #999;
    margin-top: 5px;
    width: 100%;
    @include text-overflow;
  }
  .im-chat-setwin {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .im-chat-main {
    position: absolute;
    top: 80px;
    bottom: 140px;
    width: 100%;
    padding: 15px 15px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .im-chat-msg-box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 60px;
    min-height: 68px;
    font-size: 0;
    overflow: hidden;
  }
  .im-chat-msg-emoji {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .im-chat-msg-mine {
    text-align: right;
    padding-left: 0;
    padding-right: 60px;
  }
  .im-chat-msg-user {
    display: inline-block;
    position: absolute;
    left: 3px;
    font-size: 14px;
    vertical-align: top;
    width: 100%;
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
  .im-chat-msg-user-remark {
    position: absolute;
    left: 60px;
    top: -2px;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    text-align: left;
    span {
      display: inline-block;
      vertical-align: middle;
      max-width: 170px;
      @include text-overflow();
    }
    i {
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;
      font-style: normal;
    }
  }
  .im-chat-msg-text {
    position: relative;
    display: inline-block;
    line-height: 22px;
    margin-top: 25px;
    padding: 8px 15px;
    background-color: #e2e2e2;
    border-radius: 3px;
    color: #333;
    word-break: break-all;
    font-size: 14px;
    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .im-chat-msg-text::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 13px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #e2e2e2 transparent transparent;
    overflow: hidden;
    border-width: 10px;
  }
  .im-chat-msg-mine .im-chat-msg-text::after {
    left: auto;
    right: -10px;
    border-top-color: #5fb878;
  }
  .im-chat-msg-mine {
    .im-chat-msg-user {
      left: auto;
      right: 3px;
    }
    .im-chat-msg-user-remark {
      left: auto;
      right: 60px;
      text-align: right;

      i {
        padding-left: 0;
        padding-right: 15px;
      }
    }
    .im-chat-msg-text {
      margin-left: 0;
      text-align: left;
      background-color: #5fb878;
      /*background-color: rgba(255, 255, 255, 0.9);*/
      color: #fff;
    }
  }
  .im-chat-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 140px;
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.04), 0 -2px 0 0 rgba(0, 0, 0, 0.01);
  }
  .im-chat-feature-holder {
    height: 40px;
  }

  .im-chat-feature-btn-box {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .im-emoji-box {
    position: relative;
  }

  .im-emoji-holder {
    position: absolute;
    /*display: none;*/
    top: -156px;
    left: -10px;
    right: 0;
    z-index: 101;
    width: 320px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: auto;
  }
  .im-emoji-holder div{
    float: left;
    margin: 0 3px;
    height: 30px;
  }
  .im-emoji-control {
    background-image: url(image/emoji.png);
    background-size: 25px auto;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-left: 7px;
    cursor: pointer;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2) {
    .im-emoji-control {
      background-image: url(image/emoji@2x.png);
    }
  }

  .im-chat-feature-btn {
    cursor: pointer;
    margin-left: 12px;
  }

  .im-chat-text-holder {
    textarea {
      display: block;
      margin-top: -5px;
      width: 100%;
      height: 70px;
      padding: 8px 10px;
      overflow-x: hidden;
      overflow-y: auto;
      resize: none;
      outline: 0;
      background: 0 0;
      border: 0;
      word-break: break-all;
      font-size: 13px;
      line-height: 17px;
      -webkit-appearance: none;
    }
  }

  .im-chat-send-box {
    position: relative;
    height: 45px;
  }

  .im-chat-send {
    position: absolute;
    right: 15px;
    top: 5px;
    height: 32px;
    line-height: 32px;
    background: 0 0;
  }

  .im-chat-send-btn {
    background: 0 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 28px;
    margin-left: 5px;
    padding: 0 20px;
    background-color: #5fb878;
    color: #fff;
    border-radius: 3px;
  }

  .im-chat-user-list {
    position: absolute;
    top: 80px;
    height: 200px;
    width: 100%;
    z-index: 4;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #D9D9D9;
    background-color: rgba(255, 255, 255, .9);

    .im-chat-user-list-item {
      display: inline-block;
      width: 20%;
      height: 70px;
      text-align: center;
      margin: 15px 0;
      cursor: pointer;

      &:hover {
        opacity: 0.9
      }

      &:hover cite {
        text-decoration: underline;
      }

      img {
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }

      cite {
        display: block;
        padding: 0 3px;
        color: #428bca;
        font-style: normal;
        @include text-overflow;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .im-box {
      width: 100% !important;
      height: 100% !important;
      border: 0 !important;
    }
    .im-panel-body {
      -webkit-overflow-scrolling: touch;
    }
    .im-chat-main {
      -webkit-overflow-scrolling: touch;
    }
    .im-chat-box {
      width: 100%;
      height: 100%;
      border: 0 !important;
    }
  }
</style>
