<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <el-date-picker
        v-model="query.date"
        type="daterange"
        range-separator=":"
        class="el-range-editor--small filter-item"
        style="height: 30.5px;width: 220px"
        value-format="yyyy-MM-dd"
        start-placeholder="开始日期"
        end-placeholder="结束日期"/>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" :summary-method="getSummaries" size="small" show-summary style="width: 100%;">
      <el-table-column prop="orgName" label="银商名称"/>
      <el-table-column prop="date" align="center" label="日期"/>
      <el-table-column prop="totalAddpoints" align="center" label="上分金额"/>
      <el-table-column prop="totalAddpointsNum" align="center" label="上分次数"/>
      <el-table-column prop="totalRecharge" align="center" label="充值金额"/>
      <el-table-column prop="totalRechargeNum" align="center" label="充值次数"/>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { downloadStaticConfig } from '@/api/report'
import { parseTime, downloadFile } from '@/utils/index'
export default {
  mixins: [initData],
  data() {
    return {
      delLoading: false,
      orgs: []
    }
  },
  created() {
    console.log(1)
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/report'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.date) {
        this.params['startDate'] = query.date[0]
        this.params['endDate'] = query.date[1]
      }
      return true
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadStaticConfig(this.params).then(result => {
        downloadFile(result, '统计报表', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    },
    getSummaries(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '小计'
          return
        }
        if (index === 2 || index === 3 || index === 4 || index === 5 || index === 6) {
          const values = data.map(item => Number(item[column.property]))
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] += ' '
        } else {
          sums[index] = 'N/A'
        }
      })
      return sums
    }
  }
}
</script>

<style scoped>

</style>
