<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <!-- 搜索 -->
      <el-input v-model="query.sendUser" clearable placeholder="发送人" style="width: 200px;" class="filter-item" @keyup.enter.native="toQuery"/>
      <el-input v-model="query.receiveUser" clearable placeholder="接收人" style="width: 200px;" class="filter-item" @keyup.enter.native="toQuery"/>
      <el-select v-model="query.status" clearable placeholder="状态" class="filter-item" style="width: 130px">
        <el-option v-for="item in statuses" :key="item.key" :label="item.display_name" :value="item.key"/>
      </el-select>
      <el-select v-model="query.isRead" clearable placeholder="是否已读" class="filter-item" style="width: 130px">
        <el-option v-for="item in isReads" :key="item.key" :label="item.display_name" :value="item.key"/>
      </el-select>
      <el-select v-model="query.messageType" clearable placeholder="消息类型" class="filter-item" style="width: 130px">
        <el-option v-for="item in messageTypes" :key="item.key" :label="item.display_name" :value="item.key"/>
      </el-select>
      <el-select v-model="query.chatType" clearable placeholder="聊天类型" class="filter-item" style="width: 130px">
        <el-option v-for="item in chatTypes" :key="item.key" :label="item.display_name" :value="item.key"/>
      </el-select>
      <el-date-picker
        v-model="query.date"
        type="daterange"
        range-separator=":"
        class="el-range-editor--small filter-item"
        style="height: 30.5px;width: 220px"
        value-format="yyyy-MM-dd HH:mm:ss"
        start-placeholder="开始日期"
        end-placeholder="结束日期"/>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 导出 -->
      <div style="display: inline-block;">
        <el-button
          :loading="downloadLoading"
          size="mini"
          class="filter-item"
          type="warning"
          icon="el-icon-download"
          @click="download">导出</el-button>
      </div>
    </div>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="messageId" label="消息编码"/>
      <el-table-column prop="sendUserName" align="center" label="发送人"/>
      <el-table-column prop="receiveUserName" align="center" label="接收人"/>
      <el-table-column prop="isRead" align="center" label="是否已读">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.isRead === 0" size="small" type="success">已读</el-tag>
          <el-tag v-else-if="scope.row.isRead === 1" size="small" type="danger">已读</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="status" align="center" label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 0" size="small" type="info">已发送</el-tag>
          <el-tag v-else-if="scope.row.status === 1" size="small" type="warning">已接受待查看</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="success">已查看</el-tag>
          <el-tag v-else-if="scope.row.status === 3" size="small" type="danger">已撤销</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="messageType" align="center" label="消息类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.messageType === 0" size="small" type="success">文本</el-tag>
          <el-tag v-else-if="scope.row.messageType === 1" size="small" type="danger">图片</el-tag>
          <el-tag v-else-if="scope.row.messageType === 2" size="small" type="warning">语音</el-tag>
          <el-tag v-else-if="scope.row.messageType === 3" size="small" type="info">视频</el-tag>
          <el-tag v-else-if="scope.row.messageType === 4" size="small" type="danger">音乐</el-tag>
          <el-tag v-else-if="scope.row.messageType === 5" size="small" type="warning">图文</el-tag>
          <el-tag v-else-if="scope.row.messageType === 7" size="small" type="success">入款信息</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="chatType" align="center" label="聊天类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.chatType === 0" size="small" type="success">未知</el-tag>
          <el-tag v-else-if="scope.row.chatType === 1" size="small" type="danger">公聊</el-tag>
          <el-tag v-else-if="scope.row.chatType === 2" size="small" type="warning">私聊</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="content" align="center" label="消息内容"/>
      <el-table-column prop="createTime" align="center" label="发送时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { del, download } from '@/api/imMessage'
import { parseTime, downloadFile } from '@/utils/index'
export default {
  mixins: [initData],
  data() {
    return {
      delLoading: false,
      chatTypes: [
        { key: '0', display_name: '未知' },
        { key: '1', display_name: '公聊' },
        { key: '2', display_name: '私聊' }
      ],
      statuses: [
        { key: '0', display_name: '待发送' },
        { key: '1', display_name: '已接受待查看' },
        { key: '2', display_name: '已查看' },
        { key: '3', display_name: '撤销' }
      ],
      isReads: [
        { key: '0', display_name: '已读' },
        { key: '1', display_name: '未读' }
      ],
      messageTypes: [
        { key: '0', display_name: '文本' },
        { key: '1', display_name: '图片' },
        { key: '6', display_name: '入款' },
        { key: '7', display_name: '入款详情' }
      ]
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/imMessage'
      const sort = 'id,desc'
      const query = this.query
      this.params = { page: this.page, size: this.size, sort: sort }
      if (query.date) {
        this.params['startTime'] = query.date[0]
        this.params['endTime'] = query.date[1]
      }
      if (query.sendUser) {
        this.params['sendUser'] = query.sendUser
      }
      if (query.receiveUser) {
        this.params['receiveUser'] = query.receiveUser
      }
      if (query.chatType) {
        this.params['chatType'] = query.chatType
      }
      if (query.messageType) {
        this.params['messageType'] = query.messageType
      }
      if (query.status) {
        this.params['status'] = query.status
      }
      if (query.isRead) {
        this.params['isRead'] = query.isRead
      }
      return true
    },
    subDelete(id) {
      this.delLoading = true
      del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      download(this.params).then(result => {
        downloadFile(result, '消息列表', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
