<template>
  <el-dialog :append-to-body="true" :close-on-click-modal="false" :before-close="cancel" :visible.sync="dialog" :title="isAdd ? '新增配置' : '编辑配置'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="120px">
      <el-form-item size="mini" label="存储类型" prop="type">
        <el-radio-group v-model="form.type" >
          <el-radio :label="1">七牛</el-radio>
          <el-radio :label="2">阿里云</el-radio>
        </el-radio-group>
      </el-form-item>
      <template v-if="form.type === 1">
        <el-form-item label="域名" prop="qiniuDomain">
          <el-input v-model="form.qiniuDomain" placeholder="七牛绑定的域名"/>
        </el-form-item>
        <el-form-item label="路径前缀" prop="qiniuPrefix">
          <el-input v-model="form.qiniuPrefix" placeholder="不设置默认为空"/>
        </el-form-item>
        <el-form-item label="AccessKey" prop="qiniuAccessKey">
          <el-input v-model="form.qiniuAccessKey" placeholder="七牛AccessKey"/>
        </el-form-item>
        <el-form-item label="SecretKey" prop="qiniuSecretKey">
          <el-input v-model="form.qiniuSecretKey" placeholder="七牛SecretKey"/>
        </el-form-item>
        <el-form-item label="BucketName" prop="qiniuBucketName">
          <el-input v-model="form.qiniuBucketName" placeholder="七牛存储空间名"/>
        </el-form-item>
      </template>
      <template v-else-if="form.type === 2">
        <el-form-item label="域名" prop="aliyunDomain">
          <el-input v-model="form.aliyunDomain" placeholder="阿里云绑定的域名"/>
        </el-form-item>
        <el-form-item label="路径前缀" prop="aliyunPrefix">
          <el-input v-model="form.aliyunPrefix" placeholder="不设置默认为空"/>
        </el-form-item>
        <el-form-item label="EndPoint" prop="aliyunEndPoint">
          <el-input v-model="form.aliyunEndPoint" placeholder="阿里云EndPoint"/>
        </el-form-item>
        <el-form-item label="AccessKeyId" prop="aliyunAccessKeyId">
          <el-input v-model="form.aliyunAccessKeyId" placeholder="阿里云AccessKeyId"/>
        </el-form-item>
        <el-form-item label="Secret" prop="aliyunAccessKeySecret">
          <el-input v-model="form.aliyunAccessKeySecret" placeholder="阿里云AccessKeySecret"/>
        </el-form-item>
        <el-form-item label="BucketName" prop="aliyunBucketName">
          <el-input v-model="form.aliyunBucketName" placeholder="阿里云BucketName"/>
        </el-form-item>
      </template>
      <el-form-item label="启用状态" prop="status">
        <el-radio-group v-model="form.status">
          <el-radio :label="1">启用</el-radio>
          <el-radio :label="0">暂停</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="激活状态" prop="isActivate">
        <el-radio-group v-model="form.isActivate">
          <el-radio :label="1">已激活</el-radio>
          <el-radio :label="0">未激活</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="备注" prop="remark">
        <el-input v-model="form.remark" style="width: 340px;" rows="4" type="textarea"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { add, edit } from '@/api/oss'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
export default {
  components: { Treeselect },
  data() {
    return {
      loading: false, dialog: false, isAdd: true,
      form: {
        id: 0,
        type: null,
        remark: '',
        status: 1,
        isActivate: 1,
        qiniuDomain: '',
        qiniuPrefix: '',
        qiniuAccessKey: '',
        qiniuSecretKey: '',
        qiniuBucketName: '',
        aliyunDomain: '',
        aliyunPrefix: '',
        aliyunEndPoint: '',
        aliyunAccessKeyId: '',
        aliyunAccessKeySecret: '',
        aliyunBucketName: ''
      },
      rules: {
        type: [
          { required: true, message: '请选择类型', trigger: 'blur' }
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' }
        ],
        status: [
          { required: true, message: '请选择启用状态', trigger: 'blur' }
        ],
        isActivate: [
          { required: true, message: '请选择激活状态', trigger: 'blur' }
        ],
        qiniuDomain: [
          { required: true, message: '请输入域名', trigger: 'blur' }
        ],
        qiniuPrefix: [
          { required: true, message: '请输入前缀', trigger: 'blur' }
        ],
        qiniuAccessKey: [
          { required: true, message: '请输入AccessKey', trigger: 'blur' }
        ],
        qiniuSecretKey: [
          { required: true, message: '请输入SecretKey', trigger: 'blur' }
        ],
        qiniuBucketName: [
          { required: true, message: '请输入BucketName', trigger: 'blur' }
        ],
        aliyunDomain: [
          { required: true, message: '请输入域名', trigger: 'blur' }
        ],
        aliyunPrefix: [
          { required: true, message: '请输入前缀', trigger: 'blur' }
        ],
        aliyunEndPoint: [
          { required: true, message: '请输入EndPoint', trigger: 'blur' }
        ],
        aliyunAccessKeyId: [
          { required: true, message: '请输入AccessKeyId', trigger: 'blur' }
        ],
        aliyunAccessKeySecret: [
          { required: true, message: '请输入AccessKeySecret', trigger: 'blur' }
        ],
        aliyunBucketName: [
          { required: true, message: '请输入BucketName', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          if (this.isAdd) {
            this.doAdd()
          } else this.doEdit()
        }
      })
    },
    doAdd() {
      add(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '添加成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    doEdit() {
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '修改成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.isAdd = true
      this.dialog = false
      this.form = {
        id: 0,
        type: null,
        remark: '',
        status: 1,
        isActivate: 1,
        qiniuDomain: '',
        qiniuPrefix: '',
        qiniuAccessKey: '',
        qiniuSecretKey: '',
        qiniuBucketName: '',
        aliyunDomain: '',
        aliyunPrefix: '',
        aliyunEndPoint: '',
        aliyunAccessKeyId: '',
        aliyunAccessKeySecret: '',
        aliyunBucketName: ''
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  /deep/ .el-input-number .el-input__inner {
    text-align: left;
  }
</style>
