<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <!-- 搜索 -->
      <el-input v-model="query.remark" clearable placeholder="输入搜索内容" style="width: 200px;" class="filter-item" @keyup.enter.native="toQuery"/>
      <el-select v-model="query.status" clearable placeholder="状态" class="filter-item" style="width: 130px">
        <el-option v-for="item in enabledTypeOptions" :key="item.key" :label="item.display_name" :value="item.key"/>
      </el-select>
      <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
      <!-- 新增 -->
      <div style="display: inline-block;margin: 0px 2px;">
        <el-button
          v-permission="['admin','oss:add']"
          class="filter-item"
          size="mini"
          type="primary"
          icon="el-icon-plus"
          @click="add">新增</el-button>
      </div>
    </div>
    <!--表单组件-->
    <eForm ref="form" :is-add="isAdd"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="paramKey" label="类型编码"/>
      <el-table-column prop="remark" label="名称"/>

      <el-table-column label="启用状态" align="center">
        <template slot-scope="scope">
          <el-tag :type="scope.row.status==1 ? 'success' : 'warning'">{{ scope.row.status==1 ? '启用' : '禁用' }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="激活状态" align="center">
        <template slot-scope="scope">
          <el-tag :type="scope.row.isActivate==1 ? 'success' : 'warning'">{{ scope.row.isActivate==1 ? '已激活' : '未激活' }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="remark" label="备注"/>
      <el-table-column prop="createTime" label="创建日期">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column v-if="checkPermission(['admin','oss:edit','oss:del'])" label="操作" width="150px" align="center">
        <template slot-scope="scope">
          <el-button v-permission="['admin','oss:edit']" size="mini" type="primary" icon="el-icon-edit" @click="edit(scope.row)"/>
          <el-popover
            v-permission="['admin','oss:del']"
            :ref="scope.row.id"
            placement="top"
            width="180">
            <p>确定删除本条数据吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="$refs[scope.row.id].doClose()">取消</el-button>
              <el-button :loading="delLoading" type="primary" size="mini" @click="subDelete(scope.row.id)">确定</el-button>
            </div>
            <el-button slot="reference" type="danger" size="mini">删除</el-button>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import initData from '@/mixins/initData'
import { del, downloadOss } from '@/api/oss'
import { parseTime, downloadFile } from '@/utils/index'
import eForm from './form'
export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      delLoading: false,
      enabledTypeOptions: [
        { key: '1', display_name: '启用' },
        { key: '0', display_name: '禁用' }
      ]
    }
  },
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    checkPermission,
    beforeInit() {
      this.url = 'api/oss'
      const sort = 'id,desc'
      this.params = { page: this.page, size: this.size, sort: sort }
      const status = this.query.status
      const remark = this.query.remark
      if (status) {
        this.params['status'] = status
      }
      if (remark) {
        this.params['remark'] = remark
      }
      return true
    },
    subDelete(id) {
      this.delLoading = true
      del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    add() {
      const _this = this.$refs.form
      _this.resetForm()
      _this.isAdd = true
      _this.dialog = true
    },
    edit(data) {
      console.log(data)
      const _this = this.$refs.form
      _this.resetForm()
      _this.isAdd = false
      const _paramData = JSON.parse(data.paramValue)
      _this.form = {
        id: data.id,
        type: _paramData.type,
        remark: data.remark,
        status: data.status,
        isActivate: data.isActivate,
        qiniuDomain: _paramData.qiniuDomain,
        qiniuPrefix: _paramData.qiniuPrefix,
        qiniuAccessKey: _paramData.qiniuAccessKey,
        qiniuSecretKey: _paramData.qiniuSecretKey,
        qiniuBucketName: _paramData.qiniuBucketName,
        aliyunDomain: _paramData.aliyunDomain,
        aliyunPrefix: _paramData.aliyunPrefix,
        aliyunEndPoint: _paramData.aliyunEndPoint,
        aliyunAccessKeyId: _paramData.aliyunAccessKeyId,
        aliyunAccessKeySecret: _paramData.aliyunAccessKeySecret,
        aliyunBucketName: _paramData.aliyunBucketName
      }
      _this.dialog = true
    },
    // 导出
    download() {
      this.beforeInit()
      this.downloadLoading = true
      downloadOss(this.params).then(result => {
        downloadFile(result, 'Oss列表', 'xlsx')
        this.downloadLoading = false
      }).catch(() => {
        this.downloadLoading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
